@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');

//colors
$bg-light:#dfe4ea;
$black:rgba(24, 24, 24, 1);
$primary:#4b7bec;
$primary-light:#2d98da;
$primary-dark:#4067c4;

//fonts
$title-font:'Baloo Tamma 2', cursive;