html.sr .load-hidden {
    visibility: hidden;
}
.row{
    padding: 0px !important;
    margin: 0px !important;
}
*{
    outline: none;
}

/****************************************************/

/**/    /**/    /**/    /**/
/**/                    /**/
/**/    /* HEADER */    /**/
/**/                    /**/
/**/    /**/    /**/    /**/



header{
    background-color: rgb(97, 93, 89);
}
header .celular{
    display: none;

}
header .pc{
    height: 40px;
}
header .pc p{

    font-size: 20px;
    color: white;
    text-shadow: 0  1px 0 #dddddd,
    0  2px 0 #a3a3a3,
    0  3px 0 #8d8d8d, 
    0  4px 0 #6b6b6b, 
    0 5px 0 #666666,
    0 6px 0 #5e5e5e;

}

/**/    /**/    /**/    /**/
/**/                    /**/
/**/  /* FIN HEADER */  /**/
/**/                    /**/
/**/    /**/    /**/    /**/


/*******************************************/


/**/    /**/    /**/    /**/
/**/                    /**/
/**/   /* CELULAR */    /**/
/**/                    /**/
/**/    /**/    /**/    /**/




@media (max-width: 768px) {
    header .celular{
        display: block;
    }
    header .pc{
        display: none;
    }
    .contenedor{
        display:none;
    }
    .compañeros .pefil{
        margin: auto;
    }

 

}

/**/    /**/    /**/    /**/
/**/                    /**/
/**/ /* FIN CELULAR */  /**/
/**/                    /**/
/**/    /**/    /**/    /**/


/****************************************************/


/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/     /* IZQUIERDA INDEX */    /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/
.contenedor{
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 10px -4px 10px rgb(171, 173, 173);
}

.icon{
    color: black;
}
#botones{
    text-decoration: none;
    border-radius: 5%;
}
#botones:hover{
    transition: 0.5s linear;
 
    background-color: #8282825b;
}
#botones i{
    float: left;
}
#botones span{
    float: left;
    margin-left: 10px;
}


/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/   /* FIN IZQUIERDA INDEX */  /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/


/****************************************************************/

/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/  /* CONTENEDORES INDEX */  /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/
.mid-contenido{
    box-shadow: 10px -4px 10px rgb(171, 173, 173);
}

.tarea, .materias .materias-materia, .titulo p{
    height: auto;
    box-shadow: 5px -2px 5px rgb(171, 173, 173);
}

.trabajos, .añadir-trabajo{
    border-radius: 20px;
    height: auto;
    box-shadow: 5px -2px 5px rgb(171, 173, 173);
 }
 .añadir-trabajo{
    background-color: rgba(131, 131, 131, 0.356);
 }
 .mini-titulo{
    color: rgba(0, 0, 0, 0.534);
 }
 .añadir-trabajo img{
    height: 150px; 
    width: 150px;
    border-radius: 50%; 
    display: block;
    margin:auto;

 }
.border{
    border-radius: 10px;
}

#nav-header{
    position: sticky;
    top: 0px; 
 }
#nav, #container, #container-comentario{ 
    position: sticky;
    top: 20px; 
}


/**/    /**/    /**/    /**/    /**/   /**/
/**/                                   /**/
/**/    /* FIN CONTENEDORES INDEX */   /**/
/**/                                   /**/
/**/    /**/    /**/    /**/    /**/   /**/


/***************************************************************/

.sibitulo p{
    color:#6c757d;
    display: inline-block;
}
.subitulo-right, .boton-right{
    float: right;
}

.container .perfil .foto{
    display:block;
    margin:auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.container .perfil .nombre, .curso{
    text-align: center;
}


.compañeros .foto-compañeros{
    display:block;
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.compañeros .nick{
    font-size: smaller;
    margin-left: 40px;
}

.titulo p{
    border: 1px solid rgba(133, 133, 133, 0.308);
    border-radius: 10px;
    padding: 1rem;
}


@media (max-width: 768px) {
    .desaparecer{
        display:none;
    }
}

/****************************************************/


/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/    /* TRABAJO.HTML */      /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/



.mid-tarea{
    height: auto;
    box-shadow: 10px -4px 10px rgb(171, 173, 173);
}
#container-comentario{
    height: 85vh !important;
    box-shadow: 10px -4px 10px rgb(171, 173, 173);     

}
.comentarios{
    
    height: 60vh;
    overflow-y: auto;
}
.comentario{
    margin-top: 10px;
}
.comentario .mensaje, .comentario .nombre, .input-texto{
    font-size: 10px;
}
.mensaje-enviado{
    background-color:rgba(63, 63, 62, 0.233);
}
.mensaje{
    padding: 0px !important;
}
.mensaje-recibido{
    border-radius:10px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.363);
}
.comentario-respuesta{
    display: block;
    float: right;
}
.enviar-comentario{
    margin-top: 10px;
    position:absolute;
    bottom: 0px;
}
.comentario-form input{
    height: 20px;
    position: sticky;
}
.input-sudmit{
    height: 30px;
}

@media (max-width: 768px) {
    .comentario .mensaje, .comentario .nombre, .input-texto{
        font-size: 15px;
    }

}




/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/   /* FIN TRABAJO.HTML */   /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/


/****************************************************/




.trabajos-materia{
    height: 200px;
}

#icon{
    position: absolute;
    top: 10px;
    right:  10px;
}
/**/    /**/    /**/    /**/
/**/                    /**/
/**/  /* FIN TRABAJO*/  /**/
/**/                    /**/
/**/    /**/    /**/    /**/




/**/    /**/    /**/    /**/
/**/                    /**/
/**/    /* PROYECTO*/   /**/
/**/                    /**/
/**/    /**/    /**/    /**/


.proyecto-boton-derecha{
    float: right;
}





/**/    /**/    /**/    /**/
/**/                    /**/
/**/ /* FIN PROYECTO*/  /**/
/**/                    /**/
/**/    /**/    /**/    /**/


/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/     /* POPOU NOTIFIC */    /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/
#abrir-popou{
    box-shadow: 5px -2px 10px rgb(171, 173, 173);
}
.cont-popou{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, .5);
    position: absolute;
    top:0;
    display: none;
    justify-content: center;
    align-items: center;

}
.cont-poput-form{

    border-radius: 20px;
    background-color: white;
    box-shadow: 10px -4px 10px rgba(94, 94, 94, 0.479);
    
}
.cerrar-poput{
    color: rgb(104, 104, 104);
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right:20px;
    cursor: pointer;
}
.contenido{
    max-height: 40vh;
    overflow-y: auto;
    border-bottom: 1px solid rgba(102, 102, 102, 0.363);
    
}
.mensaje{
    border: 0px  !important;
    padding: 3rem;
}
.formulario-publicacion textarea{
    border: 1px solid rgba(117, 117, 117, 0.5); 
    font-size: 1.2rem;
    min-height: 100px;
    max-height: 100px;
    width: 100%;
    border-radius: 10px;
  }
  
  .formulario-publicacion #id_titulo{
    border: 0; 
    width: 100%;
    border-bottom: 1px solid rgba(94, 94, 94, 0.363); 
    font-size: 1.2rem;
    margin:auto;
  }
  .formulario-publicacion textarea,
  .formulario-publicacion #id_titulo,
  .formulario-publicacion #id_url{
      outline: none;
  }
  .formulario-publicacion #id_imagen {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    }
#input-imagen-zone{
    width: 80%;
    height: 300px;
    display: none;
    margin:auto
}
.formulario-publicacion label[for="id_imagen"], .formulario-publicacion label[for="id_url"], .input-sudmit-icon   {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    display: inline-block;
    transition: linear all .5s;
    cursor: pointer;
    padding: 15px 40px;
    text-align: center;
  
    }
.formulario-publicacion label[for="id_imagen"]:hover, .formulario-publicacion label[for="id_url"]:hover, .input-sudmit-icon:hover{
    font-size: 2rem;
    color: rgb(93, 93, 204);
}
.formulario-publicacion label[for="id_url"]{
    float: center;
}
.formulario-publicacion .input-sudmit-icon {
    height: 0px !important;
}
.formulario-publicacion #id_url{
    display: none;
    border:0px;
    border-bottom: 1px solid rgb(150, 150, 150); 
    font-size: 1rem;
    width: 100%;
    }




/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/   /* FIN POPOU NOTIFIC */  /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/

/****************************************************/
/****************************************************/



/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/   /* FIN POPOU NOTIFIC */  /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/
.imagen a{
    display:none;
}

#id_titulo{
    text-align: center;
    font-size: 1.3rem;
}
#id_titulo, #id_mensaje,#id_url, #id_materia{
    padding: 1rem;
    border: 1px solid rgba(126, 126, 126, 0.384);
    border-radius: 10px;
}
#id_titulo, #id_mensaje,#id_materia{
    width: 100%;
}
#id_url{
    width: 70%;
}
#id_titulo:focus, #id_mensaje:focus,#id_url:focus, #id_imagen:focus,#id_materia:focus{
    border: 3px solid rgba(39, 224, 209, 0.555);
    border-radius: 10px !important;

}

.comentario-persona-nombre p{
    margin-bottom: 0px;
}


/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/   /* FIN POPOU NOTIFIC */  /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/

/****************************************************/
/****************************************************/

.botones-filtros button{
   
    background-color: transparent;
   
    border: 1px solid rgb(170, 170, 170);
    border-top-left-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
    padding: 10px;
    box-shadow: 0 5px #999;
    text-decoration: none;
   
}
.botones-filtros button:focus{
    outline:none;
}

.botones-filtros button:hover{
    background-color:rgba(97, 93, 89, 0.636);
   
}

.publicaciones{
    box-shadow: 10px -4px 10px rgb(171, 173, 173);
}
.publicaciones-top-foto img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display:block;
    margin: auto;
}
.publicaciones-top-nick h4{
    display:block;
    position:absolute;
    bottom: 25%;
    margin: auto;
}
.publicaciones-imagen img, .imagen img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.publicaciones-comentarios a{
    border: 2px solid rgba(128, 128, 128, 0.308);
    display: block;
    transition: all .5s;
}
.publicaciones-comentarios a:hover{
    background-color:rgba(45, 127, 182, 0.774);
    color:white;
}

#contenedor-profesor{
    display:none;
}
@media (max-width: 768px) {
    .publicaciones-top-foto img{
        height: 35px;
        width: 35px;

    }
    .publicaciones-top-nick h4{
        font-size: 0.7rem;
    }
    .publicaciones-imagen img, .imagen img{
        height: 200px;
    }
    .publicaciones-titulo h3{
        font-size: 1rem;
    }
    .publicaciones-contenido p,
    .publicaciones-link p,
    {
        font-size: 0.6rem;
    }
}

/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/        /* AJUSTES */       /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/

/****************************************************/
.informacion-personal,  .notificaciones{
    box-shadow: 5px -2px 10px rgb(171, 173, 173);
}
.informacion-personal img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin:auto;
}
.informacion-personal .nombre{
    text-align: center;
}