html.sr .load-hidden {
    visibility: hidden;
}

/****************************************************/

/**/    /**/    /**/    /**/
/**/                    /**/
/**/    /* HEADER */    /**/
/**/                    /**/
/**/    /**/    /**/    /**/



header{
    background-color: rgb(97, 93, 89);
}
header .celular{
    display: none;

}
header .pc{
    height: 40px;
}
header .pc p{

    font-size: 20px;
    color: white;
    text-shadow: 0  1px 0 #dddddd,
    0  2px 0 #a3a3a3,
    0  3px 0 #8d8d8d, 
    0  4px 0 #6b6b6b, 
    0 5px 0 #666666,
    0 6px 0 #5e5e5e;

}

/**/    /**/    /**/    /**/
/**/                    /**/
/**/  /* FIN HEADER */  /**/
/**/                    /**/
/**/    /**/    /**/    /**/


/*******************************************/


/**/    /**/    /**/    /**/
/**/                    /**/
/**/   /* CELULAR */    /**/
/**/                    /**/
/**/    /**/    /**/    /**/




@media (max-width: 768px) {
    header .celular{
        display: block;
    }
    header .pc{
        display: none;
    }
    .contenedor{
        display:none;
    }
    .compañeros .pefil{
        margin: auto;
    }
}

/**/    /**/    /**/    /**/
/**/                    /**/
/**/ /* FIN CELULAR */  /**/
/**/                    /**/
/**/    /**/    /**/    /**/


/****************************************************/


/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/     /* DERECHA INDEX */    /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/


.icon{
    color: black;
}
#botones{
    text-decoration: none;
    border-radius: 5%;
}
#botones:hover{
    transition: 0.5s linear;
 
    background-color: #8282825b;
}
#botones i{
    float: left;
}
#botones span{
    float: left;
    margin-left: 10px;
}


/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/   /* FIN DERECHA INDEX */  /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/


/****************************************************************/

/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/  /* CONTENEDORES INDEX */  /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/

.tarea{
    height: auto;
}

.trabajos{
    border-radius: 20px;
    height: 220px;
 }
 .añadir-trabajo{
    background-color: rgba(131, 131, 131, 0.356);
 }
 .mini-titulo{
    color: rgba(0, 0, 0, 0.534);
 }
 .añadir-trabajo img{
    height: 150px; 
    width: 150px;
    border-radius: 50%; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
 }
.border{
    border-radius: 10px;
}
.contenedor, .container{

    height: 90vh;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}
#nav-header{
    position: sticky;
    top: 0px; 
 }
#nav, #container, #container-comentario{ 
    position: sticky;
    top: 20px; 
}


/**/    /**/    /**/    /**/    /**/   /**/
/**/                                   /**/
/**/    /* FIN CONTENEDORES INDEX */   /**/
/**/                                   /**/
/**/    /**/    /**/    /**/    /**/   /**/


/***************************************************************/

.sibitulo p{
    color:#6c757d;
    display: inline-block;
}
.subitulo-right, .boton-right{
    float: right;
}

.container .perfil .foto{
    display:block;
    margin:auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.container .perfil .nombre, .curso{
    text-align: center;
}


.compañeros .foto-compañeros{
    display:block;
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.compañeros .nick{
    font-size: smaller;
    margin-left: 40px;
}

/****************************************************/


/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/    /* TRABAJO.HTML */      /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/



.mid-tarea{
    height: auto;
}
#container-comentario{
    height: 85vh !important;
}
.comentarios{
    height: 60vh;
    overflow-y: scroll;
}
.comentario{
    margin-top: 10px;
}
.comentario .nombre{
    font-size: 10px;
}
.comentario .mensaje{
    font-size: 10px;
}
.mensaje-enviado{
    background-color:rgba(63, 63, 62, 0.233);
}
.comentario-respuesta{
    display: block;
    float: right;
}
.enviar-comentario{
    margin-top: 10px;
    position:absolute;
    bottom: 0px;
}
.comentario-form input{
    height: 20px;
    position: sticky;
}
.input-texto{
    font-size: 10px;
}
.input-sudmit{
    height: 30px;
}






/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/   /* FIN TRABAJO.HTML */   /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/


/****************************************************/




.trabajos-materia{
    height: 200px;
}

#icon{
    position: absolute;
    top: 10px;
    right:  10px;
}
/**/    /**/    /**/    /**/
/**/                    /**/
/**/  /* FIN TRABAJO*/  /**/
/**/                    /**/
/**/    /**/    /**/    /**/




/**/    /**/    /**/    /**/
/**/                    /**/
/**/    /* PROYECTO*/   /**/
/**/                    /**/
/**/    /**/    /**/    /**/


.proyecto-boton-derecha{
    float: right;
}





/**/    /**/    /**/    /**/
/**/                    /**/
/**/ /* FIN PROYECTO*/  /**/
/**/                    /**/
/**/    /**/    /**/    /**/


/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/     /* POPOU NOTIFIC */    /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/
#abrir-popou{
    box-shadow: 5px -2px 10px rgb(171, 173, 173);
}
.cont-popou{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, .5);
    position: absolute;
    top:0;
    display: none;
    justify-content: center;
    align-items: center;

}
.cont-poput-form{

    border-radius: 20px;
    background-color: white;
    box-shadow: 10px -4px 10px rgba(94, 94, 94, 0.479);
    
}
.cerrar-poput{
    color: rgb(104, 104, 104);
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right:20px;
    cursor: pointer;
}
.contenido{
    max-height: 40vh;
    overflow-y: auto;
    border-bottom: 1px solid rgba(102, 102, 102, 0.363);
    
}
.mensaje{
    border: 0px  !important;
    padding: 3rem;
}
.formulario-publicacion textarea{
  border: 0; 
  /* border-bottom: 1px solid rgb(150, 150, 150); */
  font-size: 1.2rem;
}

.formulario-publicacion #titulo{
  border: 0; 
  border-bottom: 1px solid rgba(94, 94, 94, 0.363); 
  font-size: 1.2rem;
}

.formulario-publicacion #input-imagen {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    }
.formulario-publicacion #input-url{
    display: none;
    border:0px;
    border-bottom: 1px solid rgb(150, 150, 150); 
    font-size: 1rem;
    width: 100%;
    }
#input-imagen-zone{
    width: 80%;
    height: 300px;
    display: none;
    margin:auto
}
.formulario-publicacion label[for="input-imagen"], .formulario-publicacion label[for="input-url"], .input-sudmit-icon   {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    display: inline-block;
    transition: linear all .5s;
    cursor: pointer;
    padding: 15px 40px;
    text-align: center;
  
    }
.formulario-publicacion label[for="input-imagen"]:hover, .formulario-publicacion label[for="input-url"]:hover, .input-sudmit-icon:hover{
    font-size: 2rem;
    color: rgb(93, 93, 204);
}
.formulario-publicacion label[for="input-url"]{
    float: center;
}
.formulario-publicacion .input-sudmit-icon {
    height: 0px !important;
}



/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/   /* FIN POPOU NOTIFIC */  /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/

/****************************************************/
