{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Iniciar sesión</title>

	<link rel="icon" href="{% static 'img/icon-volder.png' %}">
	<link rel="stylesheet" href="{% static 'css/estilo-login.css' %}">
    <script src="https://kit.fontawesome.com/9ec8210292.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<div class="vold-logo">
			<img src="{% static 'img/volder-logo.png' %}" alt="Volder Logo" title="Volder">
		</div>
		<a href="http://luofluck.rf.gd/volder" title="Sobre Volder" target="_blank">
			Sobre Volder
		</a>
	</header>

	<div class="main">

        <div class="login">

            <div class="form-top">

                <p>Iniciar Sesión</p>

            </div>

            <form action="" autocomplete="off" method="POST">{% csrf_token %}
                {{form.errors}}
               
                <label for="id_username">Usuario</label>

                {{ form.username}}

                <label for="id_password">Contraseña</label>

                {{ form.password}}

                <div class="forget-pass">

                    <a href="{% url 'password_reset' %}" target="_blank">¿Olvidaste la contraseña?</a>

                </div>

                <input type="submit" value="Enviar" name="Enviar">

            </form>

        </div>

    </div>
    <footer>
        <div class="footer-body"> 
            <div class="about-social" id="about-social">
                <p class="tit">Redes</p>
                <a href="" title="Facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="" title="Instagram"><i class="fab fa-instagram"></i></a>
                
            </div>

            <div class="about-group" id="about-group">
                <p class="tit">Integrantes</p>
                <p>Alvarado, Matías.</p>
                <p>Guerrero, Lucas.</p>
                <p>Pardo, Axel.</p>
            </div>
        
            <div class="foot-informacion" id="foot-informacion">
                <p class="tit">Información legal</p>
                <a href="">Términos y condiciones</a>
                <a href="">Aviso legal</a>
                <a href="">Política de cookies</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Derechos de autor © 2021 Volder Online</p>
        </div>
    </footer>
</body>

</html>