{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Iniciar sesión</title>

	<link rel="icon" href="{% static 'img/icon-volder.png' %}">
	<link rel="stylesheet" href="{% static 'css/estilo-login.css' %}">
    <script src="https://kit.fontawesome.com/9ec8210292.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<div class="vold-logo">
			<img src="{% static 'img/volder-logo.png' %}" alt="Volder Logo" title="Volder">
		</div>
		<a href="http://luofluck.rf.gd/volder" title="Sobre Volder" target="_blank">
			Sobre Volder
		</a>
	</header>



	<div class="main">

        <div id="login" class="login">

            <div class="form-top">

                <p>Iniciar Sesión</p>

            </div>

            <form action="" autocomplete="off" method="POST">{% csrf_token %}
                {{form.errors}}
               
                <label for="id_username">Usuario</label>

                {{ form.username}}

                <label for="id_password">Contraseña</label>

                {{ form.password}}

                <div class="forget-pass">

                    <a href="{% url 'password_reset' %}" target="_blank">¿Olvidaste la contraseña?</a>

                </div>

                <button class="popou-button" onclick="abrirPopou()"> usuarios </button>

                <input type="submit" class="derecha" value="Enviar" name="Enviar">


            </form>

        </div>

        <div id="cont" class="cont-popou">
            <div class="popou-top">
                <p> Bienvenido</p>
            </div>
            <div class="popou-cuerpo">
                <p>Esta pagina es un sitio de muestra, si quiere saber <a href="http://luofluck.epizy.com/volder-explicacion" target="_blank" rel="noopener noreferrer">¿que es volder?</a> 
                    Le recomendamos dar click en las letras azules. <br>
                    A continuación están los siguientes usuarios con los que puede iniciar sesión: <br>
                    <b>Estudiante:</b> Lu_Of_Luck <br>
                    <b>Profesor:</b> Profesor1 <br>
                    <b>preceptor:</b> preceptor1 <br>
                    <b>secretario:</b> secretario1 <br>
                    <br>
                    <b>Todas las contrañas son:</b> 12345678.as <br>
                </p>
                <button class="popou-button" onclick="cerrarPopou()"> okey </button>
            </div>
        </div>

    </div>
    <footer>
        <div class="footer-body"> 
            <div class="about-social" id="about-social">
                <p class="tit">Redes</p>
                <a href="" title="Facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="" title="Instagram"><i class="fab fa-instagram"></i></a>
                
            </div>

            <div class="about-group" id="about-group">
                <p class="tit">Integrantes</p>
                <p>Alvarado, Matías.</p>
                <p>Guerrero, Lucas.</p>
                <p>Pardo, Axel.</p>
            </div>
        
            <div class="foot-informacion" id="foot-informacion">
                <p class="tit">Información legal</p>
                <a href="">Términos y condiciones</a>
                <a href="">Aviso legal</a>
                <a href="">Política de cookies</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Derechos de autor © 2021 Volder Online</p>
        </div>
    </footer>

    <script>
        const cont = document.getElementById("cont");
        const login = document.getElementById("login");
        function cerrarPopou(){
            login.style.display = "block";
            cont.style.display ="none";
        }
        function abrirPopou(){
            login.style.display = "none";
            cont.style.display ="block";
        }
    </script>
</body>

</html>