{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Document</title>

	<link rel="icon" href="{% static 'img/icon-volder.png' %}">
	<link rel="stylesheet" href="{% static 'css/estilo-login.css' %}">
</head>
<body>
	<header>
		<div class="vold-logo">
			<img src="{% static 'img/volder-logo.png' %}" alt="Volder Logo" title="Volder">
		</div>
		<a href="http://luofluck.rf.gd/volder" target="_blank">
			<div class="sobre-volder">
				<p>¿Cómo funciona Volder?</p>
			</div>
		</a>
	</header>

	<div class="main">

        <div class="login">

            <div class="form-top">

                <p>Iniciar Sesión</p>

            </div>

            <form action="" method="POST">{% csrf_token %}

                <label for="id_username">Usuario</label>

                {{ form.username}}

                <label for="id_password">Contraseña</label>

                {{ form.password}}

                <div class="forget-pass">

                    <a href="{% url 'password_change' %}">¿Olvidaste la contraseña?</a>

                </div>

                <input type="submit" value="Enviar" name="Enviar">

            </form>

        </div>

    </div>

	<footer>

        <div class="footer">

            <div class="col-foot redes">

                <div class="top-redes">

                    <p>Redes</p>

                </div>

                <div class="redes-img">

                    <img src="{% static 'img/instagram.png' %}" alt="Instagram" title="Instagram">

                    <p>Instagram</p>

                    <img src="{% static 'img/youtube.png' %}" alt="Youtube" title="Youtube">

                    <p>Youtube</p>

                </div>

            </div>

            <div class="col-foot politicas">

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita perspiciatis facilis culpa quidem qui. Illum, illo alias error saepe laborum, odio autem fugit quos, blanditiis veritatis nesciunt, qui id pariatur.</p>

            </div>

            <div class="col-foot foot-email">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium sint dignissimos corrupti, tempora vero libero facilis sit, asperiores excepturi fugiat ducimus officia magnam fugit quo quas recusandae inventore cupiditate natus!</p>

            </div>

        </div>

        <div class="footer-bottom"></div>

    </footer>

</body>

</html>