@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Hind+Madurai&family=Roboto:wght@300&display=swap');
/**      
	font-family: 'ABeeZee', sans-serif;

    font-family: 'Hind Madurai', sans-serif;

    font-family: 'Roboto', sans-serif;  
**/
*{
	margin:0;
	padding:0;
}
body{
	font-family: 'ABeeZee', sans-serif;
}

header{
	height:auto;
	width:100%;
	padding:1rem 0;
	border-bottom:1px solid;
	border-color:#cdcdcd;
	box-shadow:2px 2px 4px rgba(0,0,0,0.3);
}

header .vold-logo{
	width:350px;
	height:auto;
	display:inline-block;

	margin-left:10%;
}

header .vold-logo img{
	width:100%;
	height:100%;
	margin:auto auto;
}

header .sobre-volder{
	width:300px;
	height:2.3rem;
	float:right;
	margin-right:10%;
	margin-top:2rem;
	display:inline-block;
	padding-top:.4rem;

	background-color:#587699;
	border:0;
	transition:.4s linear;
	cursor:pointer;
	border-radius:5px;
}

header .sobre-volder:hover{
	transition:.3s linear;
	background-color:#405771;
}

header .sobre-volder p{
	font-size:1.3rem;
	margin:0.2rem 1.7rem;
	color:white;
	text-decoration:none;
}
.main{
	width:80%;
	height:auto;
	margin: auto;
}
.main .login{
	width:50%;
	height:auto;
	margin:4rem auto;

	box-shadow:2px 2px 10px 2px rgba(0,0,0,0.3);
}
.login .form-top{
	width:100%;
	height:auto;
	padding:1rem auto;

	background-color:#404040;
}
.login .form-top p{
	font-size:2.5rem;
	color:white;
	font-family: 'Hind Madurai', sans-serif;
	text-align:center;
}

.login form{
	padding:2rem 10%;
	border:1px solid;
	border-color:#a7a6a6;
	border-top:0;
	font-family: 'Roboto', sans-serif;
}
.login form label{
	font-size:1.4rem;
}

.login form input{
	width:100%;
	height:2.5rem;
	margin:1rem auto;
	font-size:1.2rem;
	color:#6a6a6a;
	background-color:#f2f2f2;
	border:0;
	border-bottom:3px solid #c3c3c3;
	outline:none;
}

.login form input:focus{
	border-color:#6a6a6a;
}

.login form input[type=submit]{
	width:35%;
	border:0;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	background-color:#404040;
	color:white;
	transition:.3s linear;
}
.login form input[type=submit]:hover{
	border: 2px solid #404040;
	background-color: white;
	color:#404040;
}
.login form input[type=submit]:active{
	color:white;
	background-color: #404040;
}

.login form .forget-pass{
	width:100%;
	margin-bottom:1rem;
}

.login form a{
	text-decoration:none;
	color:#747474;
}

.login form a:hover{
	color:#3e3e3e;
}

/*******************/
/*                 */
/*     Footer      */
/*                 */
/*******************/

footer{
	width:100%;
	height:auto;

	font-family: 'Roboto', sans-serif;
	border-top:1px solid;
	border-color:#cdcdcd;
}
footer .footer{
	width:100%;

}

.footer .redes{
	padding: 2rem;
	height:auto;
	display:inline;
}

.footer .redes .redes-img img{
	width:30px;
	height:auto;
} 

.footer .politicas{
	width:25%;
	height:auto;

	background-color:red;
	display:inline;
}
.footer .foot-email{
	width:25%;
	height:auto;

	background-color:red;
	display:inline;
}

@media(max-width: 767px){
	header .vold-logo{
		width:280px;
	}
	.main .login{
		width:95%;
	}
	.login form{
		padding:1rem 5%;
	}
}