:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;


    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #DC3544;
    --light: #f8f9fa;
    --dark: #343a40;
}

/****************************************************/

/**/    /**/    /**/    /**/
/**/                    /**/
/**/    /* HEADER */    /**/
/**/                    /**/
/**/    /**/    /**/    /**/



header{
    box-shadow: 0 3px 5px var(--gray);
}
header .celular{
    display: none;

}

header .pc{
    text-align:center;
    background-color: var(--dark);
    padding:1rem 0;
}
header .pc img{
    width:50px;
    height:40px;
    border-radius:50%;
}

/**/    /**/    /**/    /**/
/**/                    /**/
/**/  /* FIN HEADER */  /**/
/**/                    /**/
/**/    /**/    /**/    /**/


/*******************************************/


/**/    /**/    /**/    /**/
/**/                    /**/
/**/   /* CELULAR */    /**/
/**/                    /**/
/**/    /**/    /**/    /**/




@media (max-width: 768px) {
    header .celular{
        display: block;
    }
    header .pc{
        display: none;
    }

    .navbar{
        position: sticky;
        top: 0px; 
    }
    .nav-item a{
        /* border-color: green; */
    }
}

/**/    /**/    /**/    /**/
/**/                    /**/
/**/ /* FIN CELULAR */  /**/
/**/                    /**/
/**/    /**/    /**/    /**/


/****************************************************/



/**/    /**/    /**/    /**/
/**/                    /**/
/**/    /* Footer */    /**/
/**/                    /**/
/**/    /**/    /**/    /**/

footer{
    width:100%;
    height:auto;
    background-color:#dcdde1;
    text-align:center;
    padding:.3rem 0;
}
footer img{
    width:30px;
    height:30px;
    border-radius:50%;
    margin-bottom: .5rem;
}
footer p.copy{
    font-size:1.3rem;
    color:#353b48;
    cursor:pointer;
}
footer p.copy:hover{
    color:#2f3640;
    transition:.3s ease;
}
footer .privacy{
    margin:1rem auto;
    width:100%;
    height:auto;
    color:#353b48;
    text-align:center;
}
footer .privacy a{
    color: #353b48;
    text-align:center;
}
@media only screen and (max-width:600px){

    footer .privacy{
        display:flex;
        flex-direction:column;
    }
}