{% extends extend %}
{% load static %}
{% block content %}

<style>
    img{
        width: 100%;
    }
    .enviar{
        font-size: 1.5rem;
    }
</style>
<div class="mid-contenido mid-contenido-animacion border col-12 col-md-9 mx-auto my-4 p-4">

    <div class="col col-md-6 mx-auto">

        <p class="h2 text-center text-muted">{{noticia}}</p>
        
    </div>

    <div class="publicacion my-3">

        <div class="cuerpo">
        
            <p> autor: <a href="#">{{noticia.user.profesor}}{{noticia.user.preceptor}}{{noticia.user.secretario}} </a></p>
            <p> {{noticia.mensaje|linebreaks}} </p>

            {% if noticia.url %}
                <p> url: <a href="{{noticia.url}}">{{noticia.url}}</a></p>
            {% endif %}
        </div>
        
        <div class="imagen">
        
            {% if noticia.imagen %}

                <img src="{{noticia.imagen.url}}" alt="{{noticia}}">
            
            {% endif %}

        </div>
    
    </div>

    <div class="comentario my-3">
 
        <div class="titulo col">
            <hr>
            <p class="h3 text-muted ">comentarios:</p>
 
        </div>
 
        <div class="comentarios p-3 col col-md-10 mx-auto border">
 
            {% for comentario in comentarios %}
 
               <div class="comentario-persona">
                    
                    <div class="comentario-persona-nombre">

                        <a href="{% url 'mensajes' comentario.user.id %}"><p class="h5 text-muted">{{comentario.user.estudiante}}{{comentario.user.profesor}}{{comentario.user.preceptor}}{{comentario.user.secretario}}:</p></a>
                
                    </div>

    
                    <div class="comentario-persona-mensaje ml-2">
    
                        <p>  {{comentario.mensaje}} </p> <hr>
    
                    </div>
    
                </div>
    
            {% endfor %}

        </div>

        <div class="nuevo-comentario p-3 col col-md-10 mx-auto border">
           
            <form action="" method="POST">{% csrf_token %}
                
                <div class="row">
                
                    <textarea name="comentario" rows="2" maxlength="400" class="form-control col-10 mx-left" required></textarea>
                
                    <button class="btn mx-auto"><i class="enviar far fa-paper-plane"></i></button>
            
                </div>
       
            </form>
       
        </div>
    
    </div>
</div>

{% endblock %}
    