{% extends 'secretario/base.html' %}
{% load static %}
{% block content %}

<div class="mid-contenido mid-contenido-animacion border col col-md-9 mx-auto my-4 px-4">

    
    <div id="abrir-popou" class="col-md-4 border mx-auto my-3">
   
        <h5 class="text-muted text-center"> crear publicacion</h5>
   
    </div>


    <div class="row botones-filtros" role="group" aria-label="Basic mixed styles example">
        <button type="button" onclick="ocultar(), mostrarSecretario()" id="boton-secretario" class="col">secretario</button>
        <button type="button" onclick="ocultar(), mostrarPreceptor()" id="boton-preceptor" class="col">preceptor</button>
        <button type="button" onclick="ocultar(), mostrarProfesor()" id="boton-profesor" class="col">profesor</button>
    </div>
    {% if messages %}
        {% for messages in messages %}
            <p class="text-center"> {{messages}} </p>
        {% endfor %}
    {% endif %}
    <div id="contenedor-secretario">
        {% for noticia in secretario_noticias %}

            <div class="col col-md-10 publicaciones border mx-auto my-5">

                <div class="row publicaciones-top my-1 ">

                    <div class="col-2 publicaciones-top-foto my-3  p-0">

                        <img src="{{noticia.user.secretario.imageURL}}">

                    </div>

                    <div class="col-9 publicaciones-top-nick my-1  p-0">
            
                        <h4 class="text-muted"> Secretario: {% ifequal noticia.user user %} {{noticia.user.secretario.apellido}} {{noticia.user.secretario.nombre}} {% else %} <a href="{% url 'mensajes' noticia.user.id %}">{{noticia.user.secretario.apellido}} {{noticia.user.secretario.nombre}} </a> {% endifequal  %} </h4>

                    </div>

                </div>

                <div class="col-md-6 publicaciones-titulo mx-auto my-2 ">

                    <h3 class="text-center text-muted">{{noticia}}</h3><hr>

                </div>

                <div class="publicaciones-contenido">

                    <p> {{ noticia.mensaje|linebreaks }}</p>

                </div>
                {% if noticia.url %}
                
                    <div class="publicaciones-link">

                        <p> link: <a href="{{noticia.url}}">{{noticia.url}}</a></p>

                    </div>

                {% endif %}
                
                {% if noticia.imagen %}

                    <div class="publicaciones-imagen">

                        <img src="{{ noticia.imagen.url }}">

                    </div>

                {% endif%}

                <div class="publicaciones-comentarios">

                    {% ifequal noticia.user user %} 

                        <a href="{% url 'ver_noticia_secretario' noticia.id %}" class="btn mx-auto my-2 col-6"> Comentarios </a>
                       

                    {% else %} 
                    
                        <a href="{% url 'ver_noticia_secre' noticia.id %}" class="btn mx-auto my-2 col-6"> Comentarios </a>
                       
                    {% endifequal  %} 

                </div>

            
            </div>

        {% endfor %}
    </div>
    <div id="contenedor-preceptor">
    {% for noticia in preceptor_noticias %}

        <div class="col col-md-10 publicaciones border mx-auto my-5">

            <div class="row publicaciones-top my-1 ">

                <div class="col-2 publicaciones-top-foto my-3  p-0">

                    <img src="{{noticia.user.preceptor.imageURL}}">

                </div>

                <div class="col-10 publicaciones-top-nick my-1  p-0">
        
                    <h4 class="text-muted"> Preceptor: <a href="{% url 'mensajes' noticia.user.id %}">{{noticia.user.preceptor.apellido}} {{noticia.user.preceptor.nombre}}</a> </h4>

                </div>

            </div>

            <div class="col-md-6 publicaciones-titulo mx-auto my-2 ">

                <h3 class="text-center text-muted">{{noticia}}</h3><hr>

            </div>

            <div class="publicaciones-contenido">

                <p> {{ noticia.mensaje|linebreaks }} </p>

            </div>
            {% if noticia.url %}
            
                <div class="publicaciones-link">

                    <p> link: <a href="#">{{noticia.url}}</a> </p>

                </div>

            {% endif %}
            
            {% if noticia.imagen %}

                <div class="publicaciones-imagen">

                    <img src="{{ noticia.imagen.url }}">

                </div>

            {% endif%}

            <div class="publicaciones-comentarios">

                <a href="{% url 'ver_noticia_prece' noticia.id %}" class="btn mx-auto my-2 col-6"> Comentarios </a>

            </div>

        
        </div>

    {% endfor %}
    </div>
    <div id="contenedor-profesor">
    {% for noticia in profesor_noticias %}

        <div class="col col-md-10 publicaciones border mx-auto my-5">

            <div class="row publicaciones-top my-1 ">

                <div class="col-2 publicaciones-top-foto my-3  p-0">

                    <img src="{{noticia.user.profesor.imageURL}}">

                </div>

                <div class="col-8 publicaciones-top-nick my-1  p-0">
        
                    <h4 class="text-muted"> Profesor: <a href="{% url 'mensajes' noticia.user.id %}"> {{noticia.user.profesor.apellido}} {{noticia.user.profesor.nombre}} </a></h4>

                </div>

            </div>

            <div class="col-md-6 publicaciones-titulo mx-auto my-2 ">

                <h3 class="text-center text-muted">{{noticia}}</h3><hr>

            </div>

            <div class="publicaciones-contenido">

                <p>{{ noticia.mensaje|linebreaks }}</p>

            </div>
            {% if noticia.url %}
            
                <div class="publicaciones-link">

                    <p> link:<a href="{{noticia.url}}">{{noticia.url}}</a> </p>

                </div>

            {% endif %}
            
            {% if noticia.imagen %}

                <div class="publicaciones-imagen">

                    <img src="{{ noticia.imagen.url }}">

                </div>

            {% endif%}

            <div class="publicaciones-comentarios">

                <a href="{% url 'ver_noticia_p' noticia.id %}" class="btn mx-auto my-2 col-6"> Comentarios </a>

            </div>

        
        </div>

    {% endfor %}
    </div>

</div>

<div class="cont-popou">

    <div class="cont-poput-form col-12 col-md-6 pb-0 px-4 pt-4">

        <h3 class="text-muted text-center">crear publicacion</h3><i id="cerrar-popou"class="far fa-times-circle cerrar-poput"></i><hr>

        <form action="" method="POST" enctype="multipart/form-data" class="formulario-publicacion"> {% csrf_token %}

            <div class="row">
              
                <div class="col-md-6 mx-auto">

                    {{formulario.titulo}}
            
                </div>
            
            </div>
            
            <div class="contenido">
               
                <div class="col-md-12"><br>
                   
                    {{formulario.mensaje}}
                
                </div>
               
                <p>¿quienes pueden ver esto?:</p>
               
                <div class="row controles">
                    
                    <div class="mx-auto">
               
                        <label class="custom-control-label1" for="customControlInline1">Preceptores:</label>
               
                        {{formulario.preceptor}}
               
                    </div>
                    
                    <div class="mx-auto">
               
                        <label class="custom-control-label2" for="customControlInline2">Profesores:</label>
               
                        {{formulario.profesor}}

                    </div>
               
                    <div class="mx-auto">
               
                        <label class="custom-control-label3" for="customControlInline3">Estudiantes:</label>
               
                        {{formulario.estudiante}}&nbsp; &nbsp; &nbsp; &nbsp; 
               
                    </div>
               
                </div>
               
                <div class="col-md-12"><br>

                    {{formulario.url}}

               
                </div>
               
                <img id="input-imagen-zone" class="my-3">

            </div>
            
            <div class="row">

                <div class="form-grup col-3 mx-auto">   
                
                    <label for="id_imagen"><i class="far fa-image"></i></label>
                
                    {{formulario.imagen}}
                
                </div>
                
                <div class="form-grup col-3 mx-auto">
                
                    <label for="id_url" class="label-url"><i class="fas fa-link"></i></label>
                
                </div>
                
                <div class="form-grup col-3 mx-auto">
                
                    <button class="btn input-sudmit" type="submit"><i class="input-sudmit-icon far fa-paper-plane"></i></button>
                
                </div>

            </div>

        </form>

    </div>

</div>

<script src="{% static 'js/botones-noticia.js' %}"></script>

{% endblock %}