{% extends 'preceptor/base.html' %}
{% load static %}
{% block content %}
<style>
*{
    outline: none;
}

#id_titulo{
    text-align: center;
    font-size: 1.3rem;
}
#id_titulo, #id_mensaje,#id_url, #id_materia{
    padding: 1rem;
    border: 1px solid rgba(126, 126, 126, 0.384);
    border-radius: 10px;
}
#id_titulo, #id_mensaje,#id_materia{
    width: 100%;
}
#id_url{
    width: 70%;
}
#id_titulo:focus, #id_mensaje:focus,#id_url:focus, #id_imagen:focus,#id_materia:focus{
    border: 3px solid rgba(39, 224, 209, 0.555);
    border-radius: 10px !important;

}

.comentario-persona-nombre p{
    margin-bottom: 0px;
}
.imagen img{
    width: 100%;
    height: 400px;
}
@media (max-width: 768px) {
    .imagen img{
        width: 100%;
        height: 50%;
    }
}


</style>

<div class=" mid-contenido-animacion border trabajos col col-md-9 mx-auto my-4 px-4">

    <div class="row">

        <div class="col col-md-10 mx-auto my-3 py-5 trabajo">
           
            <div id="vista">
  
                <a id="icon" onclick="editar()" class="btn float-right"> editar <i class="fas fa-pencil-alt"></i></a><hr>

                <div class="col col-md-6 mx-auto">

                    <p class="h2 text-center text-muted">{{noticia}}</p>
                    
                </div>

                <div class="publicacion my-3">

                    <div class="cuerpo">
                    
                        <p> {{noticia.mensaje|linebreaks}} </p>

                        {% if noticia.url %}

                            <p> url: <a href="{{noticia.url}}">{{noticia.url}}</a></p>
                    
                        {% endif %}

                    </div>
                    
                    <div class="imagen">
                    
                        {% if noticia.imagen %}

                            <img src="{{noticia.imagen.url}}" alt="{{noticia}}">
                        
                        {% endif %}

                    </div>
                
                </div>
            
                <div class="comentario my-3">
             
                    <div class="titulo col">
             
                        <p class="h3 text-muted ">comentarios:</p>
             
                    </div>
             
                    <div class="comentarios p-3 col col-md-10 mx-auto border">
             
                        {% for comentario in comentarios %}
             
                           <div class="comentario-persona">
                                
                                <div class="comentario-persona-nombre">

                                    <a href="{% url 'mensajes' comentario.user.id %}"><p class="h5 text-muted">{{comentario.user.estudiante}}{{comentario.user.profesor}}{{comentario.user.preceptor}}{{comentario.user.secretario}}:</p></a>
                            
                                </div>

                
                                <div class="comentario-persona-mensaje ml-2">
                
                                    <p>  {{comentario.mensaje}} </p> <hr>
                
                                </div>
                
                            </div>
                
                        {% endfor %}

                    </div>

                    <div class="nuevo-comentario p-3 col col-md-10 mx-auto border">
                       
                        <form action="" method="POST">{% csrf_token %}
                            
                            <div class="row">
                            
                                <textarea name="comentario" rows="2" class="form-control col-10 mx-auto" placeholder="Escribe un comentario..." required></textarea>
                            
                                <button class="btn"><i class="mx-auto far fa-paper-plane"></i></button>
                        
                            </div>
                   
                        </form>
                   
                    </div>
                
                </div>

            </div>
            
            <div id="edicion">
                
                <a id="icon" onclick="cancelar()" class="btn float-right"> cancelar <i class="fas fa-pencil-alt"></i></a><hr>
            
                <form action="" method="POST"  enctype="multipart/form-data"> {% csrf_token %}

                    <div class="form-grup col col-md-6 mx-auto">

                       
                       {{formulario.titulo}}

                    </div>

                    <div class="publicacion my-3 form-grup">

                        <div class="cuerpo">
                            
                            {{formulario.mensaje}}
                            
                            <div class="form-group  my-2">
                        
                                {{formulario.url}}

                            </div>
                            
                            <div class="form-group  my-4">
                                <p>¿quienes podran ver esto?:</p>
                                <div class="row">
                                    <div class="col- estudiate">
                                        estudiante: {{formulario.estudiante}}
                                    </div>
                                    <div class="col profesor">
                                        profesor: {{formulario.profesor}}
                                    </div>
                                    <div class="col preceptor">
                                        preceptor: {{formulario.preceptor}}
                                    </div>
                            </div>
    
                            </div>
                        
                        </div>
                        
                        <div class="imagen">
                        
                            {% if noticia.imagen %}

                                <label for="id_imagen"><img src="{{noticia.imagen.url}}" alt="{{noticia}}"> </label>
                    
                            {% endif %}

                            {{formulario.imagen}}
                            

                        </div>
                    
                    </div>
                
                    <button type="sudmit" class="btn btn-outline-primary">actualizar</button>

                </form>
           
            </div>
            
        </div>

    </div>

</div>


<script>

    vista = document.getElementById("vista");
   
    edicion = document.getElementById("edicion");
   
    edicion.style.display ="none";
   
    function editar(){
        edicion.style.display ="block"; 
        vista.style.display ="none";
    }   
   
    function cancelar(){
        edicion.style.display ="none"; 
        vista.style.display ="block";
    }   
 

</script>
{% endblock %}