{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volder Online</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/estudiante/base.css' %}">
</head>
<body>
    <div class="left-menu"></div>
    <header>
        <div class="pic"></div>
        <img src="{% static 'img/icon-volder.png' %}" alt="Volder" title="Volder Online">
        <div class="theme">
            <div class="ball"></div>
        </div>
    </header>

    <nav>
        <div class="nav">
                <a href="{% url 'home' %}#inicio" class="option">
                    <i class="fas fa-home"></i>
                    <span>Inicio</span>
                </a>
                <a href="{% url 'home' %}#materias" class="option">
                    <i class="fas fa-book"></i>
                    <span> Materias </span>
                </a>
                <a href="{% url 'bandeja_de_entrada' %}#" class="option">
                    <i class="fas fa-inbox"></i>
                    <span>mensajes</span>
                </a>
                <a href="{% url 'noticias_estudiante' %}" class="option">
                    <i class="far fa-newspaper"></i>
                    <span> Noticias </span>
                </a>
                <a href="{% url 'ajustes_estudiante' %}" class="option">
                    <i class="fas fa-wrench"></i><span>ajustes</span>
                </a>
                <a href="" class="option">
                    <i class="fas fa-user"></i> <span> nosotros </span>
                </a>
                <a href="{% url 'logout' %}" class="option logout">
                    <i class="fas fa-sign-out-alt"></i> <span>Cerrar sesion</span>
                </a>
            
        </div>
    </nav>

    <div class="main">
        
    </div>

    <footer>
    </footer>
</body>
</html>