{% extends 'volder/base.html' %}
{% load static %}
{% block content %}


<div class="mid-contenido-animacion col-12 col-md-7 mx-auto my-4 px-4">
    
    <h2 id="inicio" class="text-center my-4">inicio</h2> <hr>

    <div class="tarea tarea-animacion col-12 col-md-12  border mx-auto my-2" >

        <h3 class="text-center col-12 pt-3">ultimos trabajos</h3> <hr>
        
        <div class="row">
            
            {% for trabajo in trabajos %}

                   
                    <div id="trabajo-{{trabajo.id}}" class="trabajos trabajos-animacion col-10 col-md-5 my-2 mx-auto p-3">
                                
                    
                        <h4 class="titulo text-center">{{trabajo.materia.nombre}}</h4>
                    
                        <p class="subitutlo text-muted">Del {{trabajo.fecha_de_subida|date:'d/m/Y'}} | Para el: {{trabajo.fecha_de_entrega|date:'d/m/Y'}}</p><hr>
                    
                        <span>  {{trabajo}}  </span><br><br>
                    
                        <a id="button-{{trabajo.id}}" href="{% url 'trabajo' trabajo.id %}" class="btn btn-outline-primary float-right">ver trabajo</a>
                        {% for nota in notas %}
                            {% if nota.respuestaTrabajo.trabajo == trabajo %}
                                <script>
                                    trabajo = document.getElementById("trabajo-{{trabajo.id}}")
                                    button = document.getElementById("button-{{trabajo.id}}")
                                   
                                    if("{{nota.nota}}" > 6){
                                        trabajo.classList += " aprobado"
                                        button.classList += " btn-outline-success"
                                        trabajo.innerHTML += `<button class="btn btn-outline-success">Nota: {{nota.nota}}</button>`;
                                    }
                                    else{
                                        trabajo.classList += " desaprobado"
                                        button.classList += " btn-outline-danger"
                                        trabajo.innerHTML += `<button class="btn btn-outline-danger">Nota: {{nota.nota}}</button>`;
                                    }
                                </script>
                            {% endif %}
                        {% endfor %}
                    </div>  

            {% endfor %}
      
        </div>

    </div>
    
    <div class="tarea tarea2-animacion col-12 mx-auto my-4 border">
        
        <h3 id="materias" class="text-center col-12 pt-3">materias</h3> <hr>
        
        {% for materia in materias %}
            
            <div class="trabajos col-12 border p-2 my-2 mx-auto">
        
                <h4 class="titulo text-center">{{materia.nombre}}</h4>
        
                <div class="sibitulo row">
            
                    <div class="col-12 col-sm">
            
                        <p>profesor: <a href="{% url 'mensajes' materia.profesor.user_id %}">{{materia.profesor}} </a> </p>
        
                    </div>
                    <div class="col-12 col-sm">
                        <p class="subitulo-right">tipo: aula</p>
        
                    </div>
                    
                   
                </div>
    
                <div class="sibitulo row">
                    <script> var num = 0;</script>
                    <div class="col-12 col-sm">
                        <p>trabajos entregado: 
                            {% for total_respesta in total_respestas %} 
                                {% ifequal total_respesta.trabajo.materia materia %} 
                                    <script> num += 1;</script> 
                                {% endifequal %} 
                            {% endfor %} 
                            <script>  document.write(num); </script> 
                        </p>

                    </div>
                   
                    <div class="col-12 col-sm">
                   
                        <p class="subitulo-right">trabajos pendientes: <script> var totalTrabajos = "{{materia.total_trabajos}}"; document.write(totalTrabajos - num) </script> </p>
    
                    </div>
                    
    
                    
                </div>
    
                <div class="sibitulo row">

                    <div class="col-12 col-sm">

                        <p>trabajos totales: {{materia.total_trabajos}}</p>

                    </div>

                    <div class="col-12 col-sm">

                        <a href="materia/{{materia.id}}" class="boton-right btn btn-outline-primary">ver trabajos</a>

                    </div>
                   
                   
                </div>
    
            </div>
    
        {% endfor %}
   
    </div>
    
</div>

{% include 'volder/perfil_alumno.html' %}
{% endblock %}