{% extends 'volder/base.html' %}
{% load static %}
{% block content %}


<div class="mid-contenido mid-contenido-animacion col-10 col-md-7 mx-auto my-4 px-4">
    <h2 id="inicio" class="text-center my-4">inicio</h2> <hr>

    <div class="tarea tarea-animacion col-12 col-md-12  border mx-auto my-2" >

        <h3 class="text-center col-12 pt-3">ultimos trabajos</h3> <hr>
        
        <div class="row">
            {% for trabajo in ultimos_trabajo %}
                {% if trabajo.materia.curso == user.estudiante.curso %}
                    <div class="trabajos trabajos-animacion col-10 col-md-5 border my-2 mx-auto p-3">
                        
                        <h4 class="titulo text-center">{{trabajo.materia}}</h4>
                        <p class="subitutlo text-muted">{{trabajo.fecha_de_subida}} | {{trabajo.fecha_de_entrega}}</p>
                        <hr>
                        <span>  {{trabajo}}  </span><br><br>
                        <a href="trabajo/{{trabajo.id}}" class="btn btn-outline-primary float-right">ver mas</a>

                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
    
    <div class="tarea tarea2-animacion col-12 mx-auto my-4 border">
        
        <h3 id="materias" class="text-center col-12 pt-3">materias</h3> <hr>
        {% for materia in materias %}
            
            <div class="trabajos col-10 border p-2 my-2 mx-auto">
                <h4 class="titulo text-center">{{materia.nombre}}</h4>
                <div class="sibitulo col-12">
                    <p>profesor: {{materia.profesor}}</p>
                    <p class="subitulo-right">tipo: aula</p>
                </div>
    
                <div class="sibitulo col-12">
                    <p>trabajos entregado: 0</p>
                    <p class="subitulo-right">trabajos pendientes: {{materia.trabajos_entregados}}</p>
                </div>
                <div class="sibitulo col-12">
                    <p>trabajos totales: {{materia.trabajos_entregados}}</p>
                    <a href="materia/{{materia.id}}" class="boton-right btn btn-outline-primary">ver trabajos</a>
                </div>
            </div>
        {% endfor %}


        
    </div>
</div>

<div id="container"class="container container-animacion col-10 col-md-2 my-4 border border-secondary">

    <div class="perfil">

        <img class="foto mt-3" src="{% static 'img/fotoPerfil.jpg' %}">

        <div class="nombre">
            <p>{{user.estudiante.nombre}} {{user.estudiante.apellido}}</p>
        </div>
        <div class="curso">
            <p>{{user.estudiante.curso.curso}} {{user.estudiante.curso.division}}</p>
        </div>
    </div>
    <hr>

    <div class="compañeros compañeros-animacion row py-1">
        {% for compañero in compañero %}
            <div class="perfil col-6 col-md-12">
                
                <img class="foto-compañeros" src="{% static 'img/fotoPerfil.jpg' %}">

                <div class="nick">
                    <p>{{compañero}}</p>
                    <hr>
                </div>
                
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}