{% extends 'volder/base.html' %}
{% load static %}
{% block content %}

<div class="mid-contenido mid-contenido-animacion border col-10 col-md-9 mx-auto my-4 p-4">
 
    

    <div class="row botones-filtros" role="group" aria-label="Basic mixed styles example">
        <button type="button" onclick="ocultar(), mostrarSecretario()" id="boton-secretario" class="col">secretario</button>
        <button type="button" onclick="ocultar(), mostrarPreceptor()" id="boton-preceptor" class="col">preceptor</button>
        <button type="button" onclick="ocultar(), mostrarProfesor()" id="boton-profesor" class="col">profesor</button>
    </div>

    <div id="contenedor-secretario">
    {% for noticia in secretario_noticias %}

        <div class="col-md-10 publicaciones border mx-auto my-5">

            <div class="row publicaciones-top my-1 ">

                <div class="col-md-2 publicaciones-top-foto my-3  p-0">

                    <img src="{{noticia.user.secretario.imageURL}}">

                </div>

                <div class="col-md publicaciones-top-nick my-1  p-0">
        
                    <h4 class="text-muted"> Secretario: {{noticia.user.secretario.apellido}} {{noticia.user.secretario.nombre}} </h4>

                </div>

            </div>

            <div class="col-md-6 publicaciones-titulo mx-auto my-2 ">

                <h3 class="text-center text-muted">{{noticia}}</h3><hr>

            </div>

            <div class="publicaciones-contenido">

                <p>
                    {{ noticia.mensaje|linebreaks }}
                </p>

            </div>
            {% if noticia.url %}
            
                <div class="publicaciones-link">

                    <p> 
                        link:
                        <a href="#">{{noticia.url}}</a>
                    </p>

                </div>

            {% endif %}
            
            {% if noticia.imagen %}

                <div class="publicaciones-imagen">

                    <img src="{{ noticia.imagen.url }}">

                </div>

            {% endif%}

            <div class="publicaciones-comentarios">

                <a href="#" class="btn mx-auto my-2 col-6"> Comentarios </a>

            </div>

        
        </div>

    {% endfor %}
    </div>
    <div id="contenedor-preceptor">
    {% for noticia in preceptor_noticias %}

        <div class="col-md-10 publicaciones border mx-auto my-5">

            <div class="row publicaciones-top my-1 ">

                <div class="col-md-2 publicaciones-top-foto my-3  p-0">

                    <img src="{{noticia.user.preceptor.imageURL}}">

                </div>

                <div class="col-md publicaciones-top-nick my-1  p-0">
        
                    <h4 class="text-muted"> Preceptor: {{noticia.user.preceptor.apellido}} {{noticia.user.preceptor.nombre}} </h4>

                </div>

            </div>

            <div class="col-md-6 publicaciones-titulo mx-auto my-2 ">

                <h4 class="text-center text-muted">{{noticia}}</h4><hr>

            </div>

            <div class="publicaciones-contenido">

                <p>
                    {{ noticia.mensaje|linebreaks }}
                </p>

            </div>
            {% if noticia.url %}
            
                <div class="publicaciones-link">

                    <p> 
                        link:
                        <a href="#">{{noticia.url}}</a>
                    </p>

                </div>

            {% endif %}
            
            {% if noticia.imagen %}

                <div class="publicaciones-imagen">

                    <img src="{{ noticia.imagen.url }}">

                </div>

            {% endif%}

            <div class="publicaciones-comentarios">

                <a href="#" class="btn mx-auto my-2 col-6"> Comentarios </a>

            </div>

        
        </div>

    {% endfor %}
    </div>
    <div id="contenedor-profesor">
    {% for noticia in profesor_noticias %}

        <div class="col-md-10 publicaciones border mx-auto my-5">

            <div class="row publicaciones-top my-1 ">

                <div class="col-md-2 publicaciones-top-foto my-3  p-0">

                    <img src="{{noticia.user.profesor.imageURL}}">

                </div>

                <div class="col-md-6 publicaciones-top-nick my-1  p-0">
        
                    <h4 class="text-muted"> Profesor: {{noticia.user.profesor.apellido}} {{noticia.user.profesor.nombre}}</h4>

                </div>

            </div>

            <div class="col-md-6 publicaciones-titulo mx-auto my-2 ">

                <h3 class="text-center text-muted">{{noticia}}</h3><hr>

            </div>

            <div class="publicaciones-contenido">

                <p>
                    {{ noticia.mensaje|linebreaks }}
                </p>

            </div>
            {% if noticia.url %}
            
                <div class="publicaciones-link">

                    <p> 
                        link:
                        <a href="#">{{noticia.url}}</a>
                    </p>

                </div>

            {% endif %}
            
            {% if noticia.imagen %}

                <div class="publicaciones-imagen">

                    <img src="{{ noticia.imagen.url }}">

                </div>

            {% endif%}

            <div class="publicaciones-comentarios">

                <a href="#" class="btn mx-auto my-2 col-6"> Comentarios </a>

            </div>

        
        </div>

    {% endfor %}
    </div>
</div>

<script>
    
contenedorSecretario = document.getElementById("contenedor-secretario");
contenedorPreceptor = document.getElementById("contenedor-preceptor");
contenedorProfesor = document.getElementById("contenedor-profesor");
botonSecretario = document.getElementById("boton-secretario");
botonProfesor = document.getElementById("boton-profesor");
botonPreceptor = document.getElementById("boton-preceptor");
estiloCLick = `
    background-color: rgba(89, 89, 182, 0.795);
    box-shadow: 0 3px rgba(68, 68, 184, 0.795);;
    border: none;
    transform: translateY(4px);
    color: white;
    
`
botonSecretario.style = estiloCLick;
function mostrarSecretario(){
    contenedorSecretario.style.display = "block";
    botonSecretario.style = estiloCLick;
}
function mostrarProfesor(){
    contenedorProfesor.style.display = "block";
    botonProfesor.style= estiloCLick;
}
function mostrarPreceptor(){
    contenedorPreceptor.style.display = "block";
    botonPreceptor.style= estiloCLick;
}

function ocultar(){
    contenedorSecretario.style.display = "none";
    contenedorPreceptor.style.display = "none";
    contenedorProfesor.style.display = "none";
    botonProfesor.style -= estiloCLick;
    botonPreceptor.style -= estiloCLick;
    botonSecretario.style -= estiloCLick;
}
</script>

{% endblock %}