{% load static %}
<div id="container" class="container container-animacion col-10 col-ms-2 my-4 ">

    <div class="perfil">

        <img class="foto" src="{{user.estudiante.imageURL}}">

        <div class="nombre">
        
            <p>{{user.estudiante.nombre}} {{user.estudiante.apellido}}</p>
        
        </div>
        
        <div class="curso">
        
            <p>{{user.estudiante.curso.curso}} {{user.estudiante.curso.division}}</p>
        
        </div>
   
    </div>

    <div class="compañeros compañeros-animacion row">
        <div class="compañeros--titulo mx-auto mb-3">
            <h5>Compañeros</h5>
        </div>
      
        {% for compañero in compañero %}
        
            <div class="col-12 perfil-compañero">
                <a class="text-center" href="{% url 'mensajes' compañero.user_id %}">
                    <img class="foto-compañeros" src="{{compañero.imageURL}}">
                    <div class="nick">
                        <p>{{compañero}}</p>
                    </div>
                </a>
            </div>
   
        {% endfor %}
   
    </div>

</div>
