{% extends 'volder/base.html' %}
{% load static %}
{% block content %}
<div class="mid-contenido mid-contenido-animacion border col col-md-7 mx-auto my-5 px-4 py-3">
    
    <h4 class="text-center">{{trabajo.titulo}}</h4><hr>
    
    <span>Fechas de entrega: {{trabajo.fecha_de_entrega}} </span>
    
    <a href="" class="btn float-right">marcar como entregado <i class="fas fa-check"></i></a><hr>
    
    <h5 class="text-center">{{trabajo.consigna}}<hr></h5>
    
    <span> {{ trabajo.contenido|linebreaks }} </span><hr>
    
    <span> fuentes: {{trabajo.fuentes}}</span>

</div>
    
<div id="container-comentario" class="container-comentario container-animacion  col col-md-2 mx-auto my-4 py-3 border">
    
    <h5 class="text-center"> Comentarios</h5><hr>
    
    <div class="comentarios">
    
        {% for comentario in comentarios%}
    
            {% if comentario.autor.profesor %}
        
                <div class="comentario mensaje-recibido mensaje-recibido-profesor col-10  col-md-11 border">
            
                    <h6 class="nombre"> {{comentario.autor.profesor}} </h6>
            
                    <span class="mensaje">
            
                        {{comentario}}
            
                    </span>
            
                </div>
            
            {% elif comentario.autor.estudiante == user.estudiante %}
        
                <div class="comentario mensaje-enviado float-right col-10 col-md-11">
            
                    <h6 class="nombre"> Tu </h6>
            
                    <span class="mensaje">
            
                        {{comentario}}
            
                    </span>
            
                </div>
        
            {% else %}
        
                <div class="comentario mensaje-recibido col-10 col-md-11">
            
                    <h6 class="nombre"> {{comentario.autor.estudiante}} </h6>
            
                    <span class="mensaje">
            
                        {{comentario}}
            
                    </span>
            
                </div>
        
            {% endif%}
    
        {% endfor%}
    
    </div>

    <div class="enviar-comentario float-top col-12 mb-3">
        
        <form action="" method="POST"> {% csrf_token %}
        
            <div class="row mx-auto">
        
                <input type="text" name="comentario" class="form-control input-texto col-10 col-md-9" requerid>
        
                <button type="submit"  class="input-sudmit btn col-2" required><i class="fas fa-dove"></i></button>
        
            </div>
        
        </form>
    
    </div>

</div>

{% endblock %}