{% extends 'profesor/base.html' %}
{% load static %}
{% block content %}

<div id="inicio" class=" mid-contenido-animacion col col-md-9 mx-auto my-4 px-4">
    <div class="contenido-block tarea-animacion col-12 col-md-12  mx-auto mt-2" >
        <h3 class="contenido--block--title col-12">Últimos trabajos</h3>
        
        <div id="trabajo-{{ultimo_trabajo.id}" class="trabajo trabajos-animacion col p-3 my-2 ml-4"> 
            <div class="trabajo--titulo">
                <h4 class="titulo--nombre">{{ultimo_trabajo.materia}}</h4>
                <p class="titulo--fecha"> Entrega: <br> {{ ultimo_trabajo.fecha_de_entrega|date:'Y-m-d' }}</p>    
            </div>           
            <p class="trabajo--p">  {{ultimo_trabajo}}  </p>
            <div class="trabajo--end">
                <a id="button-{{ultimo_trabajo.id}}" href="{% url 'ver_trabajo' ultimo_trabajo.id %}" class="btn">ver trabajo</a>
            </div>
        </div>  
        

        <div class="row block--cont">
            
            <div class="añadir-trabajo trabajos trabajos-animacion col-10 col-md-5  mx-auto my-2">
                <div class="añadir-trabajo-titulo">
                    <p class="h4 mini-titulo text-center">nuevo trabajo</p>
                </div>
                <div class="añadir-trabajo-imagen">
                    <a href="{% url 'añadir_trabajo' %}" class="text-center">
                        <img src="{% static 'img/mas.png' %} " >
                    </a>
                </div>
            </div>
            
            {% for trabajo in trabajos %}
                
                {% if trabajo.materia.profesor == user.profesor %}
            
    
                    <div id="trabajo-{{trabajo.id}}" class="trabajo trabajos-animacion col-10 col-md-5 my-2  mx-auto "> 
                        <div class="trabajo--titulo">
                            <h4 class="titulo--nombre">{{trabajo.materia}}</h4>
                            <p class="titulo--fecha"> Entrega: <br> {{trabajo.fecha_de_entrega|date:'d/m/Y'}}</p>    
                        </div>           
                        <p class="trabajo--p">  {{trabajo}}  </p>
                        <div class="trabajo--end">
                            <a id="button-2-{{trabajo.id}}" href="{% url 'respuesta_trabajo' trabajo.id %}" class="btn">ver respuestas</a>
                            <a id="button-{{trabajo.id}}" href="{% url 'ver_trabajo' trabajo.id %}" class="btn ml-auto">ver trabajo</a>
                        </div>
                    </div>

                
                {% endif %}
            
            {% endfor %}

        </div>
    </div>
    
    <div id="materia"  class="contenido-block tarea2-animacion col-12 mx-auto my-4">
        
        <h3 id="materias" class="contenido--block--title col-12">Materias</h3>

        
        {% for materia in materias %}

  
            <div class="materia col-12 mb-4 mx-auto">
                <h4 class="materia--titulo">{{materia.nombre}}</h4>
                <div class="row">
                    <p class="materia--p">Curso: <a href="{% url 'mensajes' materia.profesor.user_id %}">{{materia.curso}} </a> </p>
                    <a href="{% url 'ver_materia' materia.id %}" class="materia--a">Inspeccionar</a>
                </div>

            </div>
    
        
        {% endfor %}
    
    </div>
    
</div>
{% endblock %}