{% extends 'profesor/base.html' %}
{% load static %}
{% block content %}

<div class=" mid-contenido-animacion col col-md-9 mx-auto my-4 px-4">
    <div class="contenido-block tarea-animacion col-12 col-md-12  mx-auto mt-2" >
        <h3 class="contenido--block--title col-12">Últimos trabajos</h3>
        
        <div id="trabajo-{{ultimo_trabajo.id}" class="trabajo trabajos-animacion col p-3 my-2 ml-4"> 
            <div class="trabajo--titulo">
                <h4 class="titulo--nombre">{{ultimo_trabajo.materia}}</h4>
                <p class="titulo--fecha"> Entrega: <br> {{ ultimo_trabajo.fecha_de_entrega|date:'Y-m-d' }}</p>    
            </div>           
            <p class="trabajo--p">  {{ultimo_trabajo}}  </p>
            <div class="trabajo--end">
                <a id="button-{{ultimo_trabajo.id}}" href="{% url 'ver_trabajo' ultimo_trabajo.id %}" class="btn">ver trabajo</a>
            </div>
        </div>  
        

        <div class="row">
            
            <div class="añadir-trabajo trabajos-animacion col-10 col-md-5  my-2 mx-auto">
                <div class="añadir-trabajo-titulo">
                    <p class="h4 text-muted mini-titulo text-center my-2">nuevo trabajo</p><hr>
                </div>
                <div class="añadir-trabajo-imagen">
                    <a href="{% url 'añadir_trabajo' %}" class="text-center">
                        <img src="{% static 'img/mas.png' %} " >
                    </a>
                </div>
            </div>
            
            {% for trabajo in trabajos %}
                
                {% if trabajo.materia.profesor == user.profesor %}
            
                    <div class="trabajos trabajos-animacion col-10 col-md-5  my-2 mx-auto p-3">
                                        
                        <p class="h4 text-muted titulo text-center">{{trabajo.materia}}</p>
                
                        <p class="subitutlo text-muted">Del: {{ trabajo.fecha_de_subida|date:'Y-m-d' }} | para: {{trabajo.fecha_de_entrega|date:'Y-m-d'}}</p><hr>
                    
                        <span>  {{trabajo}}  </span><br><br>
                    
                        <a href="{% url 'respuesta_trabajo' trabajo.id %}" class="btn btn-outline-primary">ver respuestas</a>
                        <a href="{% url 'ver_trabajo' trabajo.id %}" class="btn btn-outline-primary float-right">ver trabajo</a>

                    </div>

                
                {% endif %}
            
            {% endfor %}

        </div>
    </div>
    
    <div id="materia" class="materias row mt-5">
        
        <div class="titulo col-12">
        
            <p class="h2 text-muted text-center titulo-p"> Tus materias</p>
        
        </div>
        
        {% for materia in materias %}
            
            <div class="materias-materia col-12 col-md-5  mx-auto my-2">
            
                <p class="h4 text-muted text-center col-12 my-2">{{materia.nombre}}</p><hr>
            
                <p >curso: {{materia.curso}}</p>

                <a href="{% url 'ver_materia' materia.id %}" class="btn btn-outline-primary float-right my-2">inspeccionar</a>

            </div>
        
        {% endfor %}
    
    </div>
    
</div>
{% endblock %}