{% extends 'profesor/base.html' %}
{% load static %}
{% block content %}

<div class=" mid-contenido-animacion col-12 col-md-9 mx-auto my-4 px-4">
    <div class="row">
        {% for respuesta in respuestas %}              
               <!-- 
                    gracias por testear la pagina, si estas leyendo esto pliss escribe en mi instagram @lugically_cosmic2.2
                    y mostrame, te lo agradeceria mucho.

                    esto lo estoy escribiendo el 17/07/2021 el dia en el que probaremos la pagina en la escuela E.E.S.T N°14 
                    por primera ves

                    Hacer todo esto no es facil <3
                    
                -->

                <!--
                    Mi suerte nunca fue la mejor, nunca pudimos testear la pagina, esto lo escribo 8 meses despues el 06/03/2022 10:36.

                    Al final por tema de cambios en el profesor de practicas nunca lo pudimos hacer, hoy estoy arreglando errores de adaptacion asi puedo tenerlo mejor en mi portafolios personal

                    siento que aun asi puedo conseguir buenas reseñas gracias a volder

                    pienso en agregar un modo para personas no videntes, vamos a ver que sale
                -->
                <div  class="trabajo trabajos-animacion col-10 p-3 my-2 ml-4"> 
                    <div class="trabajo--titulo">
                        <h4 class="titulo--nombre">{{respuesta.estudiante}}</h4>
                    </div>           
                    <p class="trabajo--p">  {{respuesta.comentario}}  </p>
                    <p><span >entregado el: </span> {{respuesta.create}}</p>
                    <div id="trabajo-{{respuesta.id}}" class="trabajo--end">
                        <a id="button-{{respuesta.id}}" href="{{respuesta.archivo.url}}" target="_BLANK" class="btn">Descargar respuestas</a>
                    </div>
                </div>
                <script> 
                var mostraBoton = true;
                {% for nota in notas %}
                    if ("{{nota.respuestaTrabajo.estudiante}}" == "{{respuesta.estudiante}}"){
                        mostraBoton = false;
                        button = document.getElementById("button-{{respuesta.id}}");
                        div = document.getElementById("trabajo-{{respuesta.id}}");
                        if("{{nota.nota}}" > 6){
                            button.classList.add("btn-outline-success");
                            div.classList.add("aprobado");
                            div.innerHTML += `<button class="btn btn-outline-success ml-auto">Nota: {{nota.nota}}</button>`;
                        }
                        else{
                            button.classList.add("btn-outline-danger");
                            div.classList.add("desaprobado");
                            div.innerHTML += `
                                <button class="btn btn-outline-danger ml-auto">
                                    Nota: {{nota.nota}}
                                </button>`;
                        }
                    }
                    {% if forloop.last %}
                        
                            console.log("{{respuesta.id}}" + mostraBoton)
                            if(mostraBoton){
                                let div = document.getElementById("trabajo-{{respuesta.id}}")
                                div.innerHTML += `<button onclick="popouAbrir({{respuesta.estudiante.id}})" class="btn btn-outline-primary ml-auto">calificar</button>`;
                            }
                    {% endif %}

                {% empty %}
                    div = document.getElementById("trabajo-{{respuesta.id}}");
                    div.innerHTML += `<button onclick="popouAbrir({{respuesta.estudiante.id}})" class="btn btn-outline-primary ml-auto">calificar</button>`
                {% endfor %}
                </script>
        {% endfor %}

        
    </div>
</div>

<div id="cont" class="popou"></div>

<script>
    let cont = document.getElementById("cont");
    let inconCerrar = document.getElementById("cerrar-popou");
    function cerrarPopou(){
        cont.style.display ="none";
        cont.innerHTML = "";
    }

    function popouAbrir(id_estudiante){
        cont.style.display ="flex";
        cont.innerHTML = `
        <div class="popou-cont col-11 col-md-6 pb-4 px-4 pt-4">

            <h3 class=" text-center">Calificar trabajo</h3><i id="cerrar-popou" onclick="cerrarPopou()" class="far fa-times-circle cerrar-popou"></i><hr>

            <form action="" method="POST" class="formulario-publicacion" > {% csrf_token %}
                <input type="text" class="invisible col-12" name="id_estudiante" value="${id_estudiante}" readonly>
                <div class="row">
                    <div class="col-6 mx-auto">
                        {{form.comentario}}
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-8 col-md-12 col-md-5 m-auto">
                        {{form.nota}}
                    </div>
                    <div class="m-auto">
                        <input type="submit" class="m-auto btn btn-outline-primary" value="Califiacar">    
                    </div>
                </div>
            </form>
        </div>

        `;
    }
</script>


{% endblock %}