{% extends 'profesor/base.html' %}
{% load static %}
{% block content %}

<div class=" mid-contenido-animacion col col-md-9 mx-auto my-4 px-4">
    <div class="row">

        {% for respuesta in respuestas %}
            <div id="trabajo-{{respuesta.id}}" class="trabajos trabajos-animacion col-10 col-md-5 border my-2 p-2 mx-auto">
                <p class="h3 text-center text-muted">{{respuesta.estudiante}}</p><hr>
                <p><span class="text-muted">comentario: </span> {{respuesta.comentario}}</p>
                <a href="{{respuesta.archivo.url}}" id="button-{{respuesta.id}}" class="btn btn-outline-primary">descargar respuesta</a>
               
                <script> var mostraBoton = true;
                {% for nota in notas %}
                    {% if nota.respuestaTrabajo.estudiante == respuesta.estudiante %}
                        mostraBoton = false;
                        div = document.getElementById("button-{{respuesta.id}}");
                        div.classList += "  btn-outline-success";
                        div = document.getElementById("trabajo-{{respuesta.id}}");
                        div.classList += " corregido";
                        div.innerHTML += `<button class="btn btn-outline-success float-right">Nota: {{nota.nota}}</button>`;
                    {% endif %}
                    {% if forloop.last %}
                        
                            console.log("{{respuesta.id}}" + mostraBoton)
                            if(mostraBoton == true){
                                let div = document.getElementById("trabajo-{{respuesta.id}}")
                                div.innerHTML += `<button onclick="popouAbrir({{respuesta.estudiante.id}})" class="btn btn-outline-primary float-right">calificar</button>`;
                            }
                    {% endif %}
                {% endfor %}
            </script>
            </div> 
        {% endfor %}

        
    </div>
</div>
<div id="cont" class="cont-popou cont-popou"></div>
<script>
    let cont = document.getElementById("cont");
    let inconCerrar = document.getElementById("cerrar-popou");
    function cerrarPopou(){
        cont.style.display ="none";
        cont.innerHTML = "";
    }

    function popouAbrir(id_estudiante){
        cont.style.display ="flex";
        cont.innerHTML = `
        <div class="cont-poput-form col-11 col-md-6 pb-4 px-4 pt-4">

            <h3 class="text-muted text-center">Calificar trabajo</h3><i id="cerrar-popou" onclick="cerrarPopou()" class="far fa-times-circle cerrar-poput"></i><hr>

            <form action="" method="POST" class="formulario-publicacion" > {% csrf_token %}

                <div class="row">
                
                    <div class="col-6 mx-auto">

                        {{form.comentario}}

                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-8 col-md-5 m-auto">
                        {{form.nota}}
                    </div>
                    <input type="text" class="invisible" name="id_estudiante" value="${id_estudiante}" readonly>
                    <div class="col-3 m-auto">
                        <input type="submit" class="m-auto btn btn-outline-primary" value="Califiacar">    
                    </div>
                </div>
            </form>
        </div>

        `;
    }
</script>


{% endblock %}