{% extends 'profesor/base.html' %}

{% load static %}

{% block content %}

    <div class=" mid-contenido-animacion trabajos col col-md-9 mx-auto my-4 px-4">
        
        {% if trabajos %}
            <div class="contenido-block tarea-animacion col-12 col-md-12  mx-auto mt-2" >
                <h3 class="contenido--block--title col-12">Trabajos de {{materia}}</h3>
                
                <div class="row">

                    {% for trabajo in trabajos %}
                        <div id="trabajo-{{ultimo_trabajo.id}" class="trabajo trabajos-animacion col-10 col-md-5 mx-auto my-2"> 
                            <div class="trabajo--titulo">
                                <h4 class="titulo--nombre">{{trabajo}}</h4>
                                <p class="titulo--fecha"> Entrega: <br> {{ trabajo.fecha_de_entrega|date:'Y-m-d' }}</p>    
                            </div>           
                            <p class="trabajo--p">  {{trabajo}}  </p>
                            <div class="trabajo--end">
                                <a id="button-{{ultimo_trabajo.id}}" href="{% url 'ver_trabajo' trabajo.id %}" class="btn">ver trabajo</a>
                            </div>
                        </div>  
                    {% endfor %}
            
                </div>
            </div>
        {% else %}

            <div class="notification">
            
                <p class="h2 text-muted text-center my-5"> no hay trabajos <a href="{% url 'añadir_trabajo' %}">¿publicar?</a></p> 
                
            </div>
        
        {% endif %}
        

        
        {% if noticias %}

        <div class="contenido-block tarea-animacion col-12 col-md-12  mx-auto mt-2" >
            <h3 class="contenido--block--title col-12">Trabajos de {{materia}}</h3>
            <div class="row">

                {% for noticia in noticias %}    
            


                    <div id="trabajo-{{ultimo_trabajo.id}" class="trabajo trabajos-animacion col-10 col-md-5 mx-auto my-2"> 
                            <div class="trabajo--titulo">
                                <h4 class="titulo--nombre">{{noticia.titulo}}</h4>  
                            </div>           
                            <p class="trabajo--p">{{noticia.mensaje|truncatewords:"30"|linebreaks}}  </p>
                            <div class="trabajo--end">
                                <a id="button-{{ultimo_trabajo.id}}" href="{% url 'ver_noticia_profesor' noticia.id %}" class="btn">ver completo</a>
                            </div>
                        </div>  
                {% endfor %}

            </div>
        </div>
        {% else %}

        <div class="notification">
            
            <p class="h2 text-muted text-center my-5"> no hay ninguna noticia <a href="{% url 'noticias_profesor' %}">¿publicar?</a></p> 
            
        </div>

        {% endif %}
    </div>

{% endblock %}