{% extends 'profesor/base.html' %}
{% load static %}
{% block content %}
<div id="vista" class="mid-tarea mid-contenido-animacion border col-10 col-md-7 mx-auto my-5 px-4 py-3">

    <h4 class="text-center">{{trabajo.titulo}}</h4>

    <a id="icon" onclick="editar()" class="btn float-right"> editar <i class="fas fa-pencil-alt"></i></a><hr>

    <span>Fechas de entrega: {{trabajo.fecha_de_entrega}}</span>
    
    <span class="btn float-right"> {{trabajo.tipo_de_trabajo}}</span><hr>
    
    <h5 class="text-center">{{trabajo.consigna}}<hr></h5>
    
    {{ trabajo.contenido|linebreaks }}
    
    <hr>
    
    <span> fuentes: {{trabajo.fuentes}} </span>

</div>

<div id="edicion" class="mid-tarea border col-10 col-md-7 mx-auto my-5 px-4 py-3">
    
    <a id="icon" onclick="cancelar()" class="btn float-right"> cancelar <i class="fas fa-pencil-alt"></i></a>
    
    <form action="" method="POST"> {% csrf_token %}
    
        <div class="form-group col-5 col-md-6 mx-auto">
    
            <input type="text" class="form-control" name="titulo" id="inputAddress" value="{{trabajo.titulo}}" placeholder="titulo" required>
    
        </div>
    
        <div class="form-row">

            <div class="form-group col-6">
    
                <label class="text-muted" for="fecha">Fecha de entrega:</label>
    
                <input type="date" class="form-control" name="fecha_de_entrega" min="{{trabajo.fecha_de_subida|date:'Y-m-d'}}" id="fecha" required>
    
            </div>

            <div class="form-group col-6">
    
                <label class="text-muted" for="inputState">Estilo de trabajo:</label>    
    
                <select id="inputState" class="form-control" name="tipo_de_trabajo" required>
    
                    {% for tipo in tipo %}
    
                    <option>{{tipo}}</option>
    
                    {% endfor %}
    
                </select>
    
            </div>
    
        </div>
    
        <div class="form-group col-6 mx-auto">
    
            <label class="text-muted" for="inputState">Consigna:</label>
    
            <input type="text" class="form-control" name="consigna" id="inputAddress" value="{{trabajo.consigna}}" placeholder="consigna" required>
    
        </div><hr>
    
        <div class="form-group">
    
            <label for="textarea-contendio">Escriba la actividad:</label>
    
            <textarea class="form-control" name="contenido" id="textarea-contendio" rows="8">
    
                {{ trabajo.contenido }}
    
            </textarea>
    
        </div>
    
        <div class="form-group col-12 mx-auto">
    
            <label class="text-muted" for="inputState">Fuentes:</label>
    
            <input type="text" class="form-control" name="fuentes" id="inputAddress" value="{{trabajo.fuentes}}" placeholder="fuentes..." required>
    
        </div>
    
        <div class="form-row">
    
            <input type="submit" class="btn btn-outline-success col-12" value="actualizar">
    
        </div>
    
    </form><hr>

</div>


<script>
    
    var edicion = document.getElementById('edicion');  
    var vista = document.getElementById('vista');
    edicion.style.display = 'none';
    
    function editar(){
        vista.style.display = 'none';
        edicion.style.display = 'block';
    }
    
    function cancelar(){
        vista.style.display = 'block';
        edicion.style.display = 'none';
    }

</script>


    
<div id="container-comentario" class="container-comentario container-animacion  col-10 col-md-2 mx-auto my-4 py-3 border ">
    
    <h5 class="text-center"> Comentarios</h5><hr>
    
    <div class="comentarios">
    
        {% for comentario in comentarios %}
           
            {% if comentario.autor.estudiante %}
    
                <div class="comentario mensaje-recibido col-10 col-md-11 my-2 ">
        
                    <h6 class="nombre"> {{comentario.autor.estudiante}} </h6>
        
                    <span class="mensaje">
        
                        {{comentario}}
        
                    </span>
        
                </div>

            {% elif comentario.autor.profesor %}
    
                <div class="comentario mensaje-enviado float-right col-10 col-md-11 my-2 border">
        
                    <h6 class="nombre"> Tu </h6>
        
                    <span class="mensaje">
        
                        {{comentario}}
        
                    </span>
        
                </div>

            {% endif %}

        {% endfor %}
              
    </div>

    <div class="enviar-comentario float-top col-12 mb-3">
      
            <form id="enviar-datos" method="POST" class="row"> {% csrf_token %}
      
                <input type="text" name="comentario" class="form-control input-texto col-10" placeholder="comentario..." required>
                
                <i onclick="enviar()" class="fas fa-dove btn col-2"></i>

            </form>
    
    </div>

    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        function enviar(){
            var form = new FormData(document.getElementById('enviar-datos'));

            fetch('{{trabajo.id}}',{
                method: 'POST',
                body: form,
                headers:{
                    "X-CSRFToken": getCookie('csrftoken'),  
                }
            })

        }
    </script>

</div>

{% endblock %}