{% extends 'preceptor/base.html' %}
{% load static %}
{% block content %}

<form  action="" method="POST" class="col-8 my-5 p-4 mx-auto border border-secondary">  {% csrf_token %} 
    <h4 class="text-center text-muted">Agregar Estudiante</h4> <hr>
  
    <div class="row">
    
        <div class="col-md-5 mx-auto">
    
            <label for="validationTooltip01">Nombre</label>
    
            <input type="text" class="form-control border border-primary" name="nombre" placeholder="Nombre" required>
    
        </div>
    
          <div class="col-md-5 mx-auto">
    
      
              <label for="validationTooltip02">Apellido</label>
      
              <input type="text" class="form-control  border border-primary" name="apellido" placeholder="Apellido"  required>
     
          </div>  
    </div>
    
    <div class="row">
    
        <div class="col-md-11 mx-auto">
      
            <label for="validationTooltip01">Email</label>
        
            <input type="email" class="form-control  border border-primary" name="email" placeholder="@Email"required>
  
        </div>
    
    </div>
    
    <div class="row">
      
        <div class="col-md-5 mx-auto">
      
            <label for="validationTooltip01">DNI</label>
      
            <input type="number" class="form-control border border-primary" name="dni" placeholder="DNI" required>
      
        </div>
        <div class="col-md-5 mx-auto">  
        
            <label for="sa"> &nbsp</label> <br>
          
            <button class="btn btn-outline-primary" type="submit">Submit form</button>
        
      
        </div>
    </div>
    
    {% if messages %}
    
        {%for messages in messages%}
        
            <div class="notification">
            
              <p class="alert text-center my-3"> {{messages}} </p> 
            
            </div>
    
        {% endfor %}
    
    {% endif %}
    
</form>
{% endblock %}