{% extends 'preceptor/base.html' %}
{% load static %}
{% block content %}


<div class="mid-contenido mid-contenido-animacion border col col-md-9 mx-auto my-4 px-4 py-2">

    <form action="" method="POST" class="col">{% csrf_token %}

        <div class="form-row ">
        
            <p class="h4 text-muted col-12 col-md-7">seleccione curso a gestionar:</p>
        
            <select name="curso" class="form form-control col-8 col-md-3 mx-1">

                        <option value="{{curso.id}}" selected>
                        
                            {{curso}}
                        
                        </option>

                        {% for cursos in cursosPreceptor %}
                                
                            {% if curso != cursos %}
                                
                                <option value="{{cursos.id}}">
                                
                                    {{cursos}}

                                </option>
                            {% endif %}

                        {% endfor%}
                    
            </select>
        
            <button type="submit" class="form-control col-3 col-md-1 mx-1"><i class="fas fa-wrench"></i></button>
        
        </div>
    
    </form>


    
    <h3 class="text-center text-muted col-12 pt-5">{{curso}}</h3> <hr>

    <div class="col-12 mx-auto my-5 border estudiantes">
        
        <h2 class="text-center text-muted">estudiantes:</h2><hr>
        
        <div class="row">
        
            <div class="col-10 col-md-5 mx-auto my-3 border agragar-estudiantes">
        
                <a href="{% url 'agregar_estudiante' curso.id  %}">
        
                    <p class="h4 text-center"><img src="{% static 'img/mas.png' %}" class="logo"> agregar</p>
        
                </a>
        
            </div>
        
            {% for estudiante in estudiantes%}
        
                <div class="col-10 col-md-5 mx-auto my-3 border lista-box">
        
                    <h4 class="text-muted text-center"> 
                        
                        <a href="{% url 'mensajes' estudiante.user_id %}">  
                        
                            {{estudiante}}
                        
                        </a>
                        
                    </h4>
        
                </div>
        
            {% endfor %}
                                    
        </div>
    
    </div>
        
    <div class="col-12 mx-auto my-5 border estudiantes">
        
        <h2 class="text-center text-muted">Materias:</h2><hr>

        <div class="row">
        
            <div class="col-10 col-md-5 mx-auto my-3 border agragar-estudiantes">
        
                <a href="{% url 'agregar_materia' curso.id %}">
        
                    <h4><img src="{% static 'img/mas.png' %}" class="logo">agragar materia </h4>
        
                </a>
        
            </div>
        
            {% for materia in materias%}
        
                <div class="col-10 col-md-5 mx-auto my-3 border">
        
                    <h4 class="text-muted text-center"><a href="{% url 'ver_materia_preceptor' materia.id %}"> {{materia.nombre}} </a></h4>
        
                </div>
        
            {% endfor %}
            
        </div>
     
    </div>

</div>

{% endblock %}