{% extends 'preceptor/base.html' %}
{% load static %}
{% block content %}


<div class="mid-contenido mid-contenido-animacion border col col-md-9 mx-auto my-4 px-4">

    <div id="abrir-popou" class="col-md-4 border mx-auto my-3">
   
        <h5 class="text-muted text-center"> crear publicacion</h5>
   
    </div>
        
    {% if messages %}
        
        {%for messages in messages%}
        
            <div class="notification">
            
            <p class="alert text-center my-3"> {{messages}} </p> 
            
            </div>

        {% endfor %}

    {% endif %}
    <div class="row botones-filtros" role="group" aria-label="Basic mixed styles example">
        <button type="button" onclick="ocultar(), mostrarSecretario()" id="boton-secretario" class="col">Secretarios</button>
        <button type="button"  onclick="ocultar(), mostrarProfesor()"  id="boton-profesor" class="col">profesores</button>
        <button type="button" onclick="ocultar(), mostrarPreceptor()" id="boton-preceptor" class="col">tu</button>
    </div>

    <div id="contenedor-secretario">
    {% for noticia in secretario_noticias %}

        <div class="col-md-10 publicaciones border mx-auto my-5">

            <div class="row publicaciones-top my-1 ">

                <div class="col-2 publicaciones-top-foto my-2 mx-auto  p-0">

                    <img src="{{noticia.user.secretario.imageURL}}">

                </div>

                <div class="col-9 publicaciones-top-nick my-1 mx-auto  p-0">
        
                    <h4 class="text-muted"> Secretario: <a href="{% url 'mensajes' noticia.user.id %}"> {{noticia.user.secretario.apellido}} {{noticia.user.secretario.nombre}}</a> </h4>

                </div>

            </div>

            <div class="col-md-6 publicaciones-titulo mx-auto my-2 ">

                <h3 class="text-center text-muted">{{noticia}}</h3><hr>

            </div>

            <div class="publicaciones-contenido">

                <p> {{ noticia.mensaje|linebreaks }} </p>

            </div>
            {% if noticia.url %}
            
                <div class="publicaciones-link">

                    <p> link:<a href="#">{{noticia.url}}</a> </p>

                </div>

            {% endif %}
            
            {% if noticia.imagen %}

                <div class="publicaciones-imagen">

                    <img src="{{ noticia.imagen.url }}">

                </div>

            {% endif%}

            <div class="publicaciones-comentarios">

                <a href="{% url 'ver_noticia_secre' noticia.id %}" class="btn mx-auto my-2 col-6"> Comentarios </a>

            </div>

        
        </div>

    {% endfor %}
    </div>
    <div id="contenedor-profesor">
    {% for noticia in profesor_noticia_filtrada %}
          
        <div class="col-md-10 publicaciones border mx-auto my-5">

            <div class="row publicaciones-top my-1 ">

                <div class="col-2 publicaciones-top-foto my-3  p-0">

                    <img src="{{noticia.user.profesor.imageURL}}">

                </div>

                <div class="col-9 publicaciones-top-nick my-1  p-0">
        
                    <h4 class="text-muted"> Profesor: <a href="{% url 'mensajes' noticia.user.id %}"> {{noticia.user.profesor.apellido}} {{noticia.user.profesor.nombre}}</a></h4>

                </div>

            </div>

            <div class="col-md-6 publicaciones-titulo mx-auto my-2 ">

                <h3 class="text-center text-muted">{{noticia}}</h3><hr>

            </div>

            <div class="publicaciones-contenido">

                <p> {{ noticia.mensaje|linebreaks }}  </p>

            </div>
            {% if noticia.url %}
            
                <div class="publicaciones-link">

                    <p>  link: <a href="#">{{noticia.url}}</a> </p>

                </div>

            {% endif %}
            
            {% if noticia.imagen %}

                <div class="publicaciones-imagen">

                    <img src="{{ noticia.imagen.url }}">

                </div>

            {% endif%}

            <div class="publicaciones-comentarios">

                <a href="{% url 'ver_noticia_p' noticia.id %}" class="btn mx-auto my-2 col-6"> Comentarios </a>

            </div>

        
        </div>

    {% endfor %}
    </div>
    <div id="contenedor-preceptor">
    {% for noticia in preceptor_noticias %}

        <div class="col-md-10 publicaciones border mx-auto my-5">

            <div class="row publicaciones-top my-1 ">

                <div class="col-2 publicaciones-top-foto my-3  p-0">

                    <img src="{{noticia.user.preceptor.imageURL}}">

                </div>

                <div class="col-9 publicaciones-top-nick my-1  p-0">
        
                    <h4 class="text-muted"> Tu</h4>

                </div>

            </div>

            <div class="col-md-6 publicaciones-titulo mx-auto my-2 ">

                <h3 class="text-center text-muted">{{noticia}}</h3><hr>

            </div>

            <div class="publicaciones-contenido">

                <p> {{ noticia.mensaje|linebreaks }} </p>

            </div>
            {% if noticia.url %}
            
                <div class="publicaciones-link">

                    <p> link:<a href="#">{{noticia.url}}</a>  </p>

                </div>

            {% endif %}
            
            {% if noticia.imagen %}

                <div class="publicaciones-imagen">

                    <img src="{{ noticia.imagen.url }}">

                </div>

            {% endif%}

            <div class="publicaciones-comentarios">

                <a href="{% url 'ver_noticia_preceptor' noticia.id %}" class="btn mx-auto my-2 col-6"> Comentarios </a>

            </div>

        
        </div>

    {% endfor %}
    </div>
</div>


<div class="cont-popou">

    <div class="cont-poput-form col-11 col-md-6 py-4">

        <h3 class="text-muted text-center">crear publicacion</h3><i id="cerrar-popou"class="far fa-times-circle cerrar-poput"></i><hr>

        <form action="" method="POST" enctype="multipart/form-data" class="formulario-publicacion" > {% csrf_token %}

            <div class="row">
              
                <div class="col-6 mx-auto">

                    {{formulario.titulo}}

                </div>
            
            </div>
            
 
            <div class="contenido">
                <div class="col-md-12"><br>
                   
                    {{formulario.mensaje}}

                </div>


                <label for="seleccion-de-cursos">¿que cursos quieren que vean este publicacion?</label>
                <select class="form-control" name="cursos" id="seleccion-de-cursos" required multiple>
                    {% for preceptor_curso in preceptor_cursos %}
                        <option value="{{preceptor_curso.id}}">{{preceptor_curso}}</option>
                    {% endfor %}
                </select>
                <div class="col-md-12"><br>
                    {{formulario.url}}
                </div>
                <img id="input-imagen-zone" class="my-3">

            </div>
            
            <div class="row">

                <div class="form-grup col-3 mx-auto">   
                
                    <label for="id_imagen"><i class="far fa-image"></i></label>
                
                    {{formulario.imagen}}
                    
                </div>
                
                <div class="form-grup col-3 mx-auto">
                
                    <label for="id_url" class="label-url"><i class="fas fa-link"></i></label>
                
                </div>
                
                <div class="form-grup col-3 mx-auto">
                
                    <button class="btn input-sudmit" type="submit"><i class="input-sudmit-icon far fa-paper-plane"></i></button>
                
                </div>

            </div>

        </form>

    </div>

</div>

<script src="{% static 'js/botones-noticia.js' %}"></script>


{% endblock %}