{% extends extend %}
{% load static %}
{% block content %}
<div class=" mid-contenido-animacion col col-md-9 mx-auto my-4 px-4">
    <div class="row">

        {% for respuesta in respuestas %}
            <div id="trabajo-{{respuesta.id}}" class="trabajos trabajos-animacion col-10 col-md-5 border my-2 p-2 mx-auto">
                <p class="h3 text-center text-muted">{{respuesta.estudiante}}</p><hr>
                <p><span class="text-muted">comentario: </span> {{respuesta.comentario}}</p>
                <p><span class="text-muted">entregado el: </span> {{respuesta.create}}</p>
                <a href="{{respuesta.archivo.url}}" id="button-{{respuesta.id}}" class="btn btn-outline-primary">descargar respuesta</a>
               
                <script> var mostraBoton = true;
                {% for nota in notas %}
                    {% if nota.respuestaTrabajo.estudiante == respuesta.estudiante %}
                        mostraBoton = false;
                        button = document.getElementById("button-{{respuesta.id}}");
                      
                        div = document.getElementById("trabajo-{{respuesta.id}}");
                        if("{{nota.nota}}" > 6){
                            button.classList += "  btn-outline-success";
                            div.classList += " aprobado";
                            div.innerHTML += `<button class="btn btn-outline-success float-right">Nota: {{nota.nota}}</button>`;
                        }
                        else{
                            button.classList += "  btn-outline-danger";
                            div.classList += " desaprobado";
                            div.innerHTML += `<button class="btn btn-outline-danger float-right">Nota: {{nota.nota}}</button>`;
                        }
                    {% endif %}
                    {% if forloop.last %}
                        
                            console.log("{{respuesta.id}}" + mostraBoton)
                            if(mostraBoton == true){
                                let div = document.getElementById("trabajo-{{respuesta.id}}")
                                div.innerHTML += `<button onclick="popouAbrir({{respuesta.estudiante.id}})" class="btn btn-outline-primary float-right">calificar</button>`;
                            }
                    {% endif %}

                {% empty %}
                    div = document.getElementById("trabajo-{{respuesta.id}}");
                    div.innerHTML += `<button onclick="popouAbrir({{respuesta.estudiante.id}})" class="btn btn-outline-primary float-right">calificar</button>`
                {% endfor %}
            </script>
            </div> 
        {% endfor %}

        
    </div>
</div>

{% endblock %}