{% extends extend %}
{% load static %}
{% block content %}
    <style>
        .charla{
            box-shadow: 4px -4px 5px rgba(85, 85, 85, 0.349);
        }
        .charla img{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: block;
        }
        a{
            text-decoration: none;
        }
    </style>

    <div class="mid-contenido mid-contenido-animacion  col-12 col-md-9 mx-auto my-4 p-4">
   
        {% if messages %}
   
            {%for messages in messages%}
        
                <div class="notification">
            
                    <p class="h2 text-muted text-center my-5"> {{messages}} </p> 
            
                </div>

            {% endfor %}    
      
        {% endif %}
    
        <div id="personas">
           
        </div>
    </div>

    <script>
        var blockPersonas = document.getElementById('personas')

     </script>

        {% for grupo in grupos %}

             <script>

                {% if user != grupo.persona1 %}
                    {% if grupo.persona1.secretario %}
                        var src = "{{grupo.persona1.secretario.imageURL}}"
                        var id = "{{grupo.persona1.id}}"
                        var persona = "{{grupo.persona1.secretario}}"
                        var titulo = "secretario"
                    {% elif grupo.persona1.preceptor  %}
                        var src = "{{grupo.persona1.preceptor.imageURL}}"
                        var id = "grupo.persona1.id}}"
                        var persona = "{{grupo.persona1.preceptor}}" 
                        var titulo = "preceptor"
                    {% elif grupo.persona1.profesor  %}
                        var src = "grupo.persona1.profesor.imageURL}}" 
                        var id = "{{grupo.persona1.id}}"
                        var persona = "{{grupo.persona1.profesor}}"
                        var titulo = "profesor"
                    {% else  %}
                        var src = "{{grupo.persona1.estudiante.imageURL}}" 
                        var id = "{{grupo.persona1.id}}"
                        var persona = "{{grupo.persona1.estudiante}}"
                        var titulo = "estudiante" 
                    {% endif %}
                {% else %}
                {% if grupo.persona2.secretario %}     
                    var src = "{{grupo.persona2.secretario.imageURL}}" 
                    var id = "{{grupo.persona2.id}}"
                    var persona = "{{grupo.persona2.secretario}} "
                    var titulo = "secretario"
                {% elif grupo.persona2.preceptor  %}
                    var src = "{{grupo.persona2.preceptor.imageURL}}"
                    var id = "{{grupo.persona2.id}}" 
                    var persona = "{{grupo.persona2.preceptor}}"
                    var titulo = "preceptor" 
                {% elif grupo.persona2.profesor  %}
                    var src = "{{grupo.persona2.profesor.imageURL}}"
                    var id = "{{grupo.persona2.id}}"
                    var persona = "{{grupo.persona2.profesor}}"
                    var titulo = "profesor"
                {% elif grupo.persona2.estudiante  %}
                    var src = "{{grupo.persona2.estudiante.imageURL}}"
                    var id = "{{grupo.persona2.id}}"
                    var persona = "{{grupo.persona2.estudiante}}"
                    var titulo = "estudiante" 
                {% endif %}
            {% endif %}
             blockPersonas.insertAdjacentHTML('beforeend', `
                <div class="row">
                    <div class="charla col-10 mx-auto my-2 p-2">
                        <div class="row">
                            <div class="col-2 mx-auto">
                                <img src="${src}" alt="">
                            </div>
                            <div class="col-10 mx-auto">
                                <a class="text-left materia--a" href="${id}"> 
                                    <p class="h4"> ${titulo}: <span class="h6">${persona}</span> </p>   
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                </div>`)

             </script>

        {% endfor %}
  
   

       

   

{% endblock %}