@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
:root{


    --naranja:#DAAB00;
	--negro:#282828;
	--bg:#404040;
	--grey:#686868;
	--white:#FFF;  /* ----> XD     res: sdasdnsadas jj */
}
html{
   
}
html.sr .load-hidden {
    visibility: hidden;
}
*{
    margin: 0px;
    padding: 0px;
    outline: none;
}
p{
    margin:0
}
.row{
    margin: 0px !important;
    padding: 0px !important;
}
.main{
    background-color: var(--bg);
    min-height: 100vh;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
    font-size: 18px;
    font-family:'Rubik', sans-serif;
}

body::-webkit-scrollbar,
.compañeros::-webkit-scrollbar,
.comentarios::-webkit-scrollbar,
.publicaciones-cuerpo::-webkit-scrollbar,
.block--cont::-webkit-scrollbar{
    width: 5px;
}
   
body::-webkit-scrollbar-track,
.compañeros::-webkit-scrollbar-track,
.comentarios::-webkit-scrollbar-track,
.publicaciones-cuerpo::-webkit-scrollbar-track,
.block--cont::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px var(--grey) ;
    border-radius: 20px;
}
 
body::-webkit-scrollbar-thumb,
.compañeros::-webkit--scrollbar-thumb,
.comentarios::-webkit--scrollbar-thumb,
.publicaciones-cuerpo::-webkit--scrollbar-thumb,
.block--cont::-webkit--scrollbar-thumb{
    background-color: var(--naranja);
    border-radius: 2px;
}


header .celular{
    display: none;
}

@media (max-width: 768px){
    

    header .celular{
        display: block;
    }
    .contenedor{
        display:none;
    }
    .compañeros .pefil{
        margin: auto;
    }
    .navbar{
        position: sticky;
        top: 0px; 
    }
    .nav-item a{
        /* border-color: green; */
    }
}


.contenedor, 
.container,
.mid-contenido{
    color: var(--white);
    border-radius: 20px;
    background-color: var(--negro);
    box-shadow: 3px -3px 5px var(--negro);
}
.perfil > a{
    text-decoration:none;
}

#nav-header{
    position: sticky;
    top: 0px; 
    height: 100vh;
}
#nav{
    position: sticky;
    height: 100vh;
    top: 0px; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#nav > .logo{   
    height: 20vh;
    display: flex;
    align-items: center;
}
.logo > p{
    font-weight: 800;
    font-size: 4em;
}
.logo > p > span{
    font-size: 1.2em;
}
.element{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.element svg{
    margin-right:20px;
}
#nav a{
    margin:auto;
    text-align:left;
    max-height: 50px;
    font-size: 1em;
    font-weight:600;
}

#botones{
    color: var(--light);
    text-decoration: none;
    border-radius: 5%;
}
#botones > p{
    position: relative;
    display:inline;
    padding-bottom: .1em;
}
#botones > p::before{
    content: '';
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg,  var(--white),var(--naranja));
    position: absolute;
    bottom: -0.1em;

}
#botones:hover p::before{
    transition: .7s ease-in-out;
    width: 100%;
}

.element--p--active{
    border-bottom: 3px solid var(--naranja);
}

.contenido-block:first-child{
    margin-top: 2em;
}
.contenido--block--title{
    color:var(--white);
    display: inline-block;
    text-align: left;
    padding: 0;
    border-bottom: 2px solid var(--white) ;
}

.block--cont{
    height:auto;
    max-height: 360px;
    overflow:auto;
}
.trabajo{
    color: var(--white);
    display: inline-block;
    background-color: var(--grey);
    border-radius: 20px;
    padding: 5px 10px;
    
}

.trabajo--titulo{
    display:flex;
    align-items: center;
    border-bottom: 2px solid var(--white);
}
.titulo--nombre,
.titulo--fecha{
    margin-bottom:0;
}
.titulo--nombre{
    font-weight:500;
}
.titulo--fecha{
    text-align:center;
    margin-left: auto;
    font-size: .7em;
    font-weight:100;
}
.trabajo--p{
    margin: 1em 0 1em 0;
}
.trabajo--end{
    display:flex;
    position: relative;
    bottom:0;
    margin: .5em;
}
.trabajo--end .btn, 
.button--especial{
    font-size: .8em;    
    border: 2px solid var(--naranja);
    border-radius: 8px;
    background-color: transparent;
    color:var(--white);
    padding: 5px;
}
.trabajo--end .btn:hover, 
.button--especial:hover{
    transition: .2s linear;
    background-color: var(--naranja);
    color:var(--white);
}
.trabajo--nota{
    margin-left: auto;
}

.materia{
    background-color: var(--grey);
    border-radius:5px;
    color:white;
    padding: 15px 40px 15px 10px;
}
.materia--titulo{
    font-size: 1.4em;
    font-weight: 900;
}
.materia--p{
    margin: 0;
    font-weight: 100;
}
.materia--p > a{
    color:white;
    font-weight: 700;
}
.materia--a{
    color: var(--naranja);
    font-weight: 700;
    margin-left: auto;
}
.materia--a:hover{
    text-decoration:none;
    color:white;

}

#container{ 
    position: sticky;
    top: 15vh; 
    max-height: 80vh;
}

.perfil .foto{
    display:block;
    margin:auto;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
}
.perfil p{
    margin-bottom: 0;
}
.perfil .nombre, 
#container-comentario .titulo{
    font-weight: 700;
    font-size: 1.1em;
}
.perfil .curso{
    font-size: .6em;
    font-weight: normal;
    padding-bottom: 20px;
    margin: 0 15px;
    border-bottom: 1px solid var(--white);
}
.compañeros--titulo{
    margin: 15px;
    font-weight: lighter;
}
.container .perfil .nombre, .curso{
    text-align: center;
}
.compañeros{
    height: 35vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.perfil-compañero > a{
    display: flex;
    align-items: center;
    width:100%;
    margin-left: 20px;
    text-decoration: none;
}
.perfil-compañero {
    margin-bottom: 10px;
}
.compañeros .foto-compañeros{
    display:block;
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.compañeros .nick{
    color:white;
    font-size: 1em;
    margin-left: 20px;
}
.compañeros .nick:hover{
    transition: .2s;
    text-decoration: none;
    color: var(--naranja);
    font-weight: 600;
}


/****************************************************/


/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/    /* TRABAJO.HTML */      /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/

.main-trabajo{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#mid-contenido{
    background: transparent;
    box-shadow: 0px 0px 0px transparent !important;
    min-height: 30vh;
    max-height:auto;
    padding-top: 2rem;
}
.trabajo-titulo{
    font-size: 2rem;
    color: #FFF;
    font-weight: 900;
    margin-bottom: 2rem;
}
#mid-contenido button{
    background: transparent;
    color: var(--naranja);
    font-weight: 700;
}
#mid-contenido .row :is(.nota-comentario, .nota){
    font-size: 18px;
    font-weight: 700;
}
#mid-contenido .trabajo-consigna{
    width: 100%;
    margin: 1rem 0 !important;
    color: var(--grey);
    font-size: 1.6rem;
}
#mid-contenido .trabajo-contenido{
    display: flex;
    min-height: 40%;
    padding: .7rem 0;
}
#mid-contenido .fuentes{
    font-weight: 800;
}
#mid-contenido .fuentes .fuente-links{
    font-weight: 200;
}
.mid-tarea{
    height: auto;
}

#container-comentario{
    min-height: 30vh !important;
    
    width: 80vw;
    overflow-y: auto;
    margin-top: 2rem 0;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 1.6rem;
}
#container-comentario h5{
    font-size: 24px;
    font-weight: 900;
    margin-top: 1rem;
}
.comentarios{
    overflow-y: auto;
    max-height: 50vh;
    width: 90%;
    font-size: 20px !important;
}
.comentario{
    margin-top: 10px;
    width: auto;
    max-width: 45%;
    height: auto;
    padding: 0 .5rem;
    margin: 2rem 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}
.comentario .mensaje,
.comentario .nombre{
    font-size: 20px;
    font-weight:900;
    margin-bottom: 0;
}
.comentario .mensaje{
    font-size: 16px;
    font-weight: 500;
    margin-top: .5rem;
}
.mensaje-recibido-profesor h6{
    color: var(--naranja);
    margin-bottom: 0;
}
.comentarios .comentario .mensaje-enviado{
    position: relative;
    right: 0;
}
.enviar-comentario{
    width: 60vw;
    margin-top: 1.8rem;
}
.enviar-comentario form .send{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.enviar-comentario form .send textarea{
    border-radius: 7px;
    min-width: 60%;
    height: 7em;
    padding: .7rem 1rem;
    display: flex;
    margin-bottom: 1rem;
    resize: none;
    background-color: var(--grey);
    border: 0;
    outline: 0;
    color: #fff;
}
.input,
#id_titulo,
#id_mensaje,
#id_url{
    background-color: var(--grey);
    border: 0;
    color: var(--white)
}
input::placeholder,
textarea::placeholder{
    color: white;
}
.input--send,
.enviar-comentario form .send button{
    width: auto;
    padding: .6rem 1.3rem;
    margin: 1rem 0;
    background: transparent;
    color: var(--white);
    font-weight: 600;
    background-color: var(--naranja);
    position: relative;
    border: 0;
    outline: none;
    border-radius: 10px;
    outline: 2px solid var(--naranja);
    outline-offset: -5px;
    transition: .4s ease-in-out;
}
.input--send:hover,
.enviar-comentario form .send button:hover{
    background-color: transparent;
    color: var(--naranja);
    outline-offset: 5px;
}
@media (max-width: 768px) {
    #main-trabajo{
        width: 100vw;
    }
    #main-trabajo :is(#container-comentario,
    #comentraios, #comentario, #enviar-comentario)
    {
        width: 100%;
    }
    #comentraios{
        padding: 0 1rem;
    }
    #comentario{
        padding: 0;
    }
    .comentario .mensaje, .comentario .nombre, .input-texto{
        font-size: 15px;
    }

}




/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/   /* TRABAJO.HTML */   /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/


/****************************************************/




.trabajos-materia{
    height: auto;
}

.cont-popou,
.popou{
    height: 100vh;
    width: 100%;
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.popou-cont{
    border-radius: 20px;
    background-color: white;
    padding: 2rem 3rem;
}
.cerrar-popou{
    position:absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color:rgba(65, 65, 65, 0.404);
}

form #id_comentario{
    width: 70%;
    padding: 0.3rem .5rem;
    text-align: center;
    border: 2px solid rgba(102, 102, 102, 0.363); 
    border-radius: 20px;
    margin: 0 auto;

}
form #id_archivo{
    width: 0.001px;
    height: 0.001px;
    position: absolute;
    z-index: 0;
}
form #label_archivo{
    width: 50%;
    border: 2px solid rgba(0, 132, 255, 0.829);
    border-radius: 20px;
    color: rgba(0, 132, 255, 0.829);
    text-align: center;
    cursor: pointer;
    margin: auto;
    padding: 0.3rem .5rem;
    transition: .3s linear;
}

form #label_archivo:hover{
    background-color: rgba(0, 132, 255, 0.829);
    border: 2px solid white;
    border-radius: 15px;
    color: white;
}
.formulario-publicacion #id_titulo,  .formulario-publicacion #id_comentario{
    border: 0; 
    width: 100%;
    border-bottom: 1px solid rgba(94, 94, 94, 0.363); 
    font-size: 1.2rem;
    text-align: center;
    margin:auto;
  }
  .formulario-publicacion #nota {

  }
  .formulario-publicacion textarea,
  .formulario-publicacion #id_titulo,
  .formulario-publicacion #id_url,
  .formulario-publicacion #id_comentario{
      outline: none;
  }
  
  .formulario-publicacion #id_imagen, .invisible {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    }
#input-imagen-zone{
    width: 80%;
    height: 300px;
    display: none;
    margin:auto
}
.formulario-publicacion label[for="id_imagen"], .formulario-publicacion label[for="id_url"], .input-sudmit-icon   {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    display: inline-block;
    transition: linear all .5s;
    cursor: pointer;
    padding: 15px 40px;
    text-align: center;
  
    }
.formulario-publicacion label[for="id_imagen"]:hover, .formulario-publicacion label[for="id_url"]:hover, .input-sudmit-icon:hover{
    font-size: 2rem;
    color: rgb(93, 93, 204);
}
.formulario-publicacion label[for="id_url"]{
    float: center;
}
.formulario-publicacion .input-sudmit-icon {
    height: 0px !important;
}
.formulario-publicacion #id_url{
    display: none;
    border:0px;
    border-bottom: 1px solid rgb(150, 150, 150); 
    font-size: 1rem;
    width: 100%;
    }
    #id_titulo, #id_comentario{
    text-align: center;
    font-size: 1.3rem;
}
#id_titulo, #id_mensaje,#id_url, #id_materia,#id_nota{
    padding: 1rem;
    border: 1px solid rgba(126, 126, 126, 0.384);
    border-radius: 10px;
}
#id_nota{  
    padding: .5rem;
    width: 100%;
}
#id_titulo, #id_mensaje,#id_materia{
    width: 100%;
}
#id_url{
    width: 70%;
}
#id_titulo:focus, #id_mensaje:focus,#id_url:focus, #id_imagen:focus,#id_materia:focus,#id_comentario,#id_nota{
    border: 3px solid rgba(39, 224, 209, 0.555);
    border-radius: 10px !important;

}
/* .aprobado, .desaprobado{
     color:white; 
    box-shadow: 0 0 0;

}


.aprobado{
     background-color: var(--success);
    
}
.desaprobado{
    background-color: var(--danger); 
   
} */

@media (max-width: 768px) {
    form #id_comentario{
        width: 85%;
    }
    form #label_archivo{
        width: 80%;
    }
}




/**/    /**/    /**/    /**/
/**/                    /**/
/**/  /* FIN TRABAJO*/  /**/
/**/                    /**/
/**/    /**/    /**/    /**/



/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/   /* NOTICIAS */  /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/

/****************************************************/
.botones-filtros button{
    border: 0px transparent;
    background-color: transparent;
    padding: 10px;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.5em;
    color:var(--grey);
   
}
.button-active{
    border-bottom: 3px var(--naranja) solid !important;
    transform: translateY(4px);
    color: var(--white) !important;
    
}
.botones-filtros, .informacion-materias button:focus{
    outline:none;
}

.botones-filtros button:hover{
    background-color:rgba(97, 93, 89, 0.636);
   
}
#contenedor-preceptor, #contenedor-profesor{
    display: none;
}
.publicaciones{
   
    padding: 0;
    color: var(--white);
}

.publicaciones-top{
    background-color: var(--grey);
    border-radius: 15px 15px 0 0;
}
.publicaciones-top-foto img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display:block;
    margin: auto;
}
.publicaciones-top-nick{
    display:flex;
    align-items: center;
    font-size: 1em;
}
.publicaciones-top-nick span{
    font-weight: 600;
}
.publicaciones-cuerpo{
    padding: 20px 40px;
    border: 1px solid var(--grey);
    max-height: 60vh;
    overflow-y: auto;
}
.publicaciones-titulo{
    font-weight: 800;
}
.publicaciones-imagen img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.publicaciones-comentarios a{
    display: block;
}


.text-derecha{
    float: right;
}
@media (max-width: 768px) {
    .publicaciones-top-foto img{
        height: 35px;
        width: 35px;

    }
    .publicaciones-top-nick h4{
        font-size: 0.7rem;
    }
    .publicaciones-imagen img{
        height: 200px;
    }
    .publicaciones-titulo h3{
        font-size: 0.9rem;
    }
    .publicaciones-contenido p,.publicaciones-link p{
        font-size: 0.8rem;
    }
    .subitutlo{
        text-align: left;
    }
}

/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/        /* AJUSTES */       /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/

/****************************************************/
.informacion-personal,  .notificaciones{
    background-color: var(--grey);
    border-radius: 4px;
    color: white;
}
.informacion-personal img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin:auto;
}
.informacion-personal .nombre{
    text-align: center;
}
.editar-perfil{
    display:block;
    position: absolute;
    top: 40px;
    right: 20px;
}
#id_user, #id_dni, #id_curso, #id_nombre, #id_apellido, div.foto-formulario{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; 
}
.cambiar-foto label {
    margin: 10px auto;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: rgba(92, 92, 92, 0.801);
    border: 1px solid rgb(83, 83, 83);
    border-radius: 5px;
    padding:5px;
    display: inline-block;
    cursor: pointer;
    transition: all .5s;
}

.cambiar-foto label:hover {
    border-radius: 5px;
    padding:3px 10px;
}
/* .foto font{
    display: none;
} */


/**/    /**/    /**/    /**/
/**/                    /**/
/**/    /* Footer */    /**/
/**/                    /**/
/**/    /**/    /**/    /**/

footer{
    width:100%;
    height:auto;
    background-color:#dcdde1;
    text-align:center;
    padding:.3rem 0;
}
footer img{
    width:30px;
    height:30px;
    border-radius:50%;
    margin-bottom: .5rem;
}
footer p.copy{
    font-size:1.3rem;
    color:#353b48;
    cursor:pointer;
}
footer p.copy:hover{
    color:#2f3640;
    transition:.3s ease;
}
footer .privacy{
    margin:1rem auto;
    width:100%;
    height:auto;
    color:#353b48;
    text-align:center;
}
footer .privacy a{
    color: #353b48;
    text-align:center;
}
@media only screen and (max-width:600px){

    footer .privacy{
        display:flex;
        flex-direction:column;
    }
}






.añadir-trabajo{
    border-radius: 20px;
 }
 .añadir-trabajo{
    background-color: var(--grey);
 }
 .mini-titulo{
    color: rgba(0, 0, 0, 0.534);
 }
 .añadir-trabajo img{
    height: 150px; 
    width: 150px;
    border-radius: 50%; 
    display: block;
    margin:auto;

 }
 #icon{
    color:var(--white);
 }
