html.sr .load-hidden {
    visibility: hidden;
}
.row{
    margin: 0px !important;
    padding: 0px !important;
}
/****************************************************/

/**/    /**/    /**/    /**/
/**/                    /**/
/**/    /* HEADER */    /**/
/**/                    /**/
/**/    /**/    /**/    /**/



header{
    background-color: rgb(97, 93, 89);
}
header .celular{
    display: none;

}
header .pc{
    height: 40px;
}
header .pc p{

    font-size: 20px;
    color: white;
    text-shadow: 0  1px 0 #dddddd,
    0  2px 0 #a3a3a3,
    0  3px 0 #8d8d8d, 
    0  4px 0 #6b6b6b, 
    0 5px 0 #666666,
    0 6px 0 #5e5e5e;

}

/**/    /**/    /**/    /**/
/**/                    /**/
/**/  /* FIN HEADER */  /**/
/**/                    /**/
/**/    /**/    /**/    /**/


/*******************************************/


/**/    /**/    /**/    /**/
/**/                    /**/
/**/   /* CELULAR */    /**/
/**/                    /**/
/**/    /**/    /**/    /**/




@media (max-width: 768px) {
    header .celular{
        display: block;
    }
    header .pc{
        display: none;
    }
    .contenedor{
        display:none;
    }
    .compañeros .pefil{
        margin: auto;
    }
}

/**/    /**/    /**/    /**/
/**/                    /**/
/**/ /* FIN CELULAR */  /**/
/**/                    /**/
/**/    /**/    /**/    /**/


/****************************************************/


/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/     /* DERECHA INDEX */    /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/

.contenedor{
    box-shadow: 10px -4px 10px rgb(171, 173, 173);
}
.icon{
    color: black;
}
#botones{
    text-decoration: none;
    border-radius: 5%;
}
#botones:hover{
    transition: 0.5s linear;
 
    background-color: #8282825b;
}
#botones i{
    float: left;
}
#botones span{
    float: left;
    margin-left: 10px;
}


/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/   /* FIN DERECHA INDEX */  /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/


/****************************************************************/

/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/  /* CONTENEDORES INDEX */  /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/
.mid-contenido, .container-comentario{
    box-shadow: 10px -4px 10px rgb(171, 173, 173);

}
.tarea{
    height: 800px;
    overflow-y: auto;
    scrollbar-color: transparent;
    scrollbar-width: thin;
    box-shadow: 5px -2px 5px rgb(171, 173, 173);
}
.trabajos{
    border-radius: 20px;
    box-shadow: 3px -1px 3px rgb(171, 173, 173);
 }
.border{
    border-radius: 10px;
}
.contenedor, .container{

    height: 90vh;
    overflow-y: auto;
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}
#nav-header{
    position: sticky;
    top: 0px; 
 }
#nav, #container, #container-comentario{ 
    position: sticky;
    top: 20px; 
}


/**/    /**/    /**/    /**/    /**/   /**/
/**/                                   /**/
/**/    /* FIN CONTENEDORES INDEX */   /**/
/**/                                   /**/
/**/    /**/    /**/    /**/    /**/   /**/


/***************************************************************/

.sibitulo p{
    color:#6c757d;
    display: inline-block;
}
.subitulo-right, .boton-right{
    float: right;
}

.container .perfil .foto{
    display:block;
    margin:auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.container .perfil .nombre, .curso{
    text-align: center;
}


.compañeros .foto-compañeros{
    display:block;
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.compañeros .nick{
    font-size: smaller;
    margin-left: 40px;
}

/****************************************************/


/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/    /* TRABAJO.HTML */      /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/



.mid-tarea{
    height: auto;
}
#container-comentario{
    height: 85vh !important;
}
.comentarios{
    height: 60vh;
    overflow-y: auto;
}
.comentario{
    margin-top: 10px;
    border-radius:10px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.363);
}
.comentario .nombre{
    font-size: 10px;
}
.comentario .mensaje{
    font-size: 10px;
}
.mensaje-recibido-profesor{
    background-color:rgba(63, 63, 62, 0.233);
}
.comentario-respuesta{
    display: block;
    float: right;
}
.enviar-comentario{
    margin-top: 10px;
    position:absolute;
    bottom: 0px;
}
.comentario-form input{
    height: 20px;
    position: sticky;
}
.input-texto{
    font-size: 10px;
}
.input-sudmit{
    height: 30px;
}

@media (max-width: 768px) {
    .comentario .mensaje, .comentario .nombre, .input-texto{
        font-size: 15px;
    }

}




/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/   /* FIN TRABAJO.HTML */   /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/


/****************************************************/




.trabajos-materia{
    height: 200px;
}







/**/    /**/    /**/    /**/
/**/                    /**/
/**/  /* FIN TRABAJO*/  /**/
/**/                    /**/
/**/    /**/    /**/    /**/



/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/   /* NOTICIAS */  /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/

/****************************************************/
#contenedor-preceptor, #contenedor-profesor{
    display: none;
}
.publicaciones{
    box-shadow: 10px -4px 10px rgb(171, 173, 173);
}
.publicaciones-top-foto img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display:block;
    margin: auto;
}
.publicaciones-top-nick h4{
    display:block;
    position:absolute;
    bottom: 25%;
    margin: auto;
}
.publicaciones-imagen img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.publicaciones-comentarios a{
    border: 2px solid rgba(128, 128, 128, 0.308);
    display: block;
    transition: all .5s;
}
.publicaciones-comentarios a:hover{
    background-color:rgba(45, 127, 182, 0.774);
    color:white;
}


/**/    /**/    /**/    /**/    /**/
/**/                            /**/
/**/        /* AJUSTES */       /**/
/**/                            /**/
/**/    /**/    /**/    /**/    /**/

/****************************************************/
.informacion-personal,  .notificaciones{
    box-shadow: 5px -2px 10px rgb(171, 173, 173);
}
.informacion-personal img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin:auto;
}
.informacion-personal .nombre{
    text-align: center;
}